@model A2ZPortal.Core.Entities.Property.UpComingPropertyDetail
 
 
<img src="@Model.ImagePath" alt="" class="img-fluid">
<br>
 <a asp-action="GetPropertyDetail" asp-controller="UpcomingProject" asp-route-Id="@Model.Id" class="btn btn-secondary btn-block mt-3">Click Here </a>
