<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - A2Z Portal</title>
    <style type="text/css" data-type="vc_custom-css">
        #custom-testimonial .parallax {
            background-position: bottom !important;
        }
    </style>
    <meta name='robots' content='max-image-preview:large' />
    
    <script type="text/javascript">
		window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.1.0\/svg\/", "svgExt": ".svg", "source": { "wpemoji": "http:\/\/wp.nootheme.com\/citilights\/wp-includes\/js\/wp-emoji.js?ver=5.8", "twemoji": "http:\/\/wp.nootheme.com\/citilights\/wp-includes\/js\/twemoji.js?ver=5.8" } };
		 

		(function (window, document, settings) {
			var src, ready, ii, tests;

			// Create a canvas element for testing native browser support of emoji.
			var canvas = document.createElement('canvas');
			var context = canvas.getContext && canvas.getContext('2d');

			 
			function emojiSetsRenderIdentically(set1, set2) {
				var stringFromCharCode = String.fromCharCode;

				// Cleanup from previous test.
				context.clearRect(0, 0, canvas.width, canvas.height);
				context.fillText(stringFromCharCode.apply(this, set1), 0, 0);
				var rendered1 = canvas.toDataURL();

				// Cleanup from previous test.
				context.clearRect(0, 0, canvas.width, canvas.height);
				context.fillText(stringFromCharCode.apply(this, set2), 0, 0);
				var rendered2 = canvas.toDataURL();

				return rendered1 === rendered2;
			}

			/**
			* Detects if the browser supports rendering emoji or flag emoji.
			*
			* Flag emoji are a single glyph made of two characters, so some browsers
			* (notably, Firefox OS X) don't support them.
			*
			 
			*/
			function browserSupportsEmoji(type) {
				var isIdentical;

				if (!context || !context.fillText) {
					return false;
				}

				/*
				* Chrome on OS X added native emoji rendering in M41. Unfortunately,
				* it doesn't work when the font is bolder than 500 weight. So, we
				* check for bold rendering support to avoid invisible emoji in Chrome.
				*/
				context.textBaseline = 'top';
				context.font = '600 32px Arial';

				switch (type) {
					case 'flag':
						/*
						 * Test for Transgender flag compatibility. This flag is shortlisted for the Emoji 13 spec,
						 * but has landed in Twemoji early, so we can add support for it, too.
						 *
						 * To test for support, we try to render it, and compare the rendering to how it would look if
						 * the browser doesn't render it correctly (white flag emoji + transgender symbol).
						 */
						isIdentical = emojiSetsRenderIdentically(
							[0x1F3F3, 0xFE0F, 0x200D, 0x26A7, 0xFE0F],
							[0x1F3F3, 0xFE0F, 0x200B, 0x26A7, 0xFE0F]
						);

						if (isIdentical) {
							return false;
						}

						/*
						 * Test for UN flag compatibility. This is the least supported of the letter locale flags,
						 * so gives us an easy test for full support.
						 *
						 * To test for support, we try to render it, and compare the rendering to how it would look if
						 * the browser doesn't render it correctly ([U] + [N]).
						 */
						isIdentical = emojiSetsRenderIdentically(
							[0xD83C, 0xDDFA, 0xD83C, 0xDDF3],
							[0xD83C, 0xDDFA, 0x200B, 0xD83C, 0xDDF3]
						);

						if (isIdentical) {
							return false;
						}

						/*
						 * Test for English flag compatibility. England is a country in the United Kingdom, it
						 * does not have a two letter locale code but rather an five letter sub-division code.
						 *
						 * To test for support, we try to render it, and compare the rendering to how it would look if
						 * the browser doesn't render it correctly (black flag emoji + [G] + [B] + [E] + [N] + [G]).
						 */
						isIdentical = emojiSetsRenderIdentically(
							[0xD83C, 0xDFF4, 0xDB40, 0xDC67, 0xDB40, 0xDC62, 0xDB40, 0xDC65, 0xDB40, 0xDC6E, 0xDB40, 0xDC67, 0xDB40, 0xDC7F],
							[0xD83C, 0xDFF4, 0x200B, 0xDB40, 0xDC67, 0x200B, 0xDB40, 0xDC62, 0x200B, 0xDB40, 0xDC65, 0x200B, 0xDB40, 0xDC6E, 0x200B, 0xDB40, 0xDC67, 0x200B, 0xDB40, 0xDC7F]
						);

						return !isIdentical;
					case 'emoji':
						/*
						 * Burning Love: Just a hunk, a hunk of burnin' love.
						 *
						 *  To test for Emoji 13.1 support, try to render a new emoji: Heart on Fire!
						 *
						 * The Heart on Fire emoji is a ZWJ sequence combining ❤️ Red Heart, a Zero Width Joiner and 🔥 Fire.
						 *
						 * 0x2764, 0xfe0f == Red Heart emoji.
						 * 0x200D == Zero-Width Joiner (ZWJ) that links the two code points for the new emoji or
						 * 0x200B == Zero-Width Space (ZWS) that is rendered for clients not supporting the new emoji.
						 * 0xD83D, 0xDD25 == Fire.
						 *
						 * When updating this test for future Emoji releases, ensure that individual emoji that make up the
						 * sequence come from older emoji standards.
						 */
						isIdentical = emojiSetsRenderIdentically(
							[0x2764, 0xfe0f, 0x200D, 0xD83D, 0xDD25],
							[0x2764, 0xfe0f, 0x200B, 0xD83D, 0xDD25]
						);

						return !isIdentical;
				}

				return false;
			}

			/**
			* Adds a script to the head of the document.
			 
			*/
			function addScript(src) {
				var script = document.createElement('script');

				script.src = src;
				script.defer = script.type = 'text/javascript';
				document.getElementsByTagName('head')[0].appendChild(script);
			}

			tests = Array('flag', 'emoji');

			settings.supports = {
				everything: true,
				everythingExceptFlag: true
			};

			/*
			* Tests the browser support for flag emojis and other emojis, and adjusts the
			* support settings accordingly.
			*/
			for (ii = 0; ii < tests.length; ii++) {
				settings.supports[tests[ii]] = browserSupportsEmoji(tests[ii]);

				settings.supports.everything = settings.supports.everything && settings.supports[tests[ii]];

				if ('flag' !== tests[ii]) {
					settings.supports.everythingExceptFlag = settings.supports.everythingExceptFlag && settings.supports[tests[ii]];
				}
			}

			settings.supports.everythingExceptFlag = settings.supports.everythingExceptFlag && !settings.supports.flag;

			// Sets DOMReady to false and assigns a ready function to settings.
			settings.DOMReady = false;
			settings.readyCallback = function () {
				settings.DOMReady = true;
			};

			// When the browser can not render everything we need to load a polyfill.
			if (!settings.supports.everything) {
				ready = function () {
					settings.readyCallback();
				};

				/*
				* Cross-browser version of adding a dom ready event.
				*/
				if (document.addEventListener) {
					document.addEventListener('DOMContentLoaded', ready, false);
					window.addEventListener('load', ready, false);
				} else {
					window.attachEvent('onload', ready);
					document.attachEvent('onreadystatechange', function () {
						if ('complete' === document.readyState) {
							settings.readyCallback();
						}
					});
				}

				src = settings.source || {};

				if (src.concatemoji) {
					addScript(src.concatemoji);
				} else if (src.wpemoji && src.twemoji) {
					addScript(src.twemoji);
					addScript(src.wpemoji);
				}
			}

		})(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='dsidx-css' href='https://api-idx.diversesolutions.com/combo-css?config=dsidxpress&amp;ver=3.6.1' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxpress-icons-css' href='~/wp-content/plugins/dsidxpress/css/dsidx-icons41a3.css?ver=5.8' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxpress-unconditional-css' href='~/wp-content/plugins/dsidxpress/css/client41a3.css?ver=5.8' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxwidgets-unconditional-css' href='~/wp-content/plugins/dsidxpress/dsidxwidgets/css/client41a3.css?ver=5.8' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='~/wp-includes/css/dist/block-library/style41a3.css?ver=5.8' type='text/css' media='all' />
    <link rel='stylesheet' id='wc-block-style-css' href='~/wp-content/plugins/woocommerce/packages/woocommerce-blocks/build/styled989.css?ver=1626312930' type='text/css' media='all' />
    <link rel='stylesheet' id='jquery-selectBox-css' href='~/wp-content/plugins/yith-woocommerce-wishlist/assets/css/jquery.selectBox7359.css?ver=1.2.0' type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-font-awesome-css' href='~/wp-content/plugins/yith-woocommerce-wishlist/assets/css/font-awesome.min1849.css?ver=4.7.0' type='text/css' media='all' />
    <link rel='stylesheet' id='yith-wcwl-main-css' href='~/wp-content/plugins/yith-woocommerce-wishlist/assets/css/stylebf3e.css?ver=2.2.16' type='text/css' media='all' />
    <style id='yith-wcwl-main-inline-css' type='text/css'>
        .wishlist_table .add_to_cart, a.add_to_wishlist.button.alt {
            border-radius: 16px;
            -moz-border-radius: 16px;
            -webkit-border-radius: 16px;
        }
    </style>
    <link rel='stylesheet' id='rs-plugin-settings-css' href='~/wp-content/plugins/revslider/public/assets/css/rs66fb3.css?ver=6.1.3' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }

        .tp-caption a {
            color: #ff7302;
            text-shadow: none;
            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out;
            -o-transition: all 0.2s ease-out;
            -ms-transition: all 0.2s ease-out
        }

            .tp-caption a:hover {
                color: #ffa902
            }
    </style>
    <style id='woocommerce-inline-inline-css' type='text/css'>
        .woocommerce form .form-row .required {
            visibility: visible;
        }
    </style>
    <link rel='stylesheet' id='woocommerce_prettyPhoto_css-css' href='~/wp-content/plugins/woocommerce/assets/css/prettyPhoto41a3.css?ver=5.8' type='text/css' media='all' />
    <link rel='stylesheet' id='noo-main-style-css' href='~/wp-content/themes/noo-citilights/assets/css/noo.css' type='text/css' media='all' />
    <link rel='stylesheet' id='noo-idx-style-css' href='~/wp-content/themes/noo-citilights/assets/css/idx.css' type='text/css' media='all' />
    <link rel='stylesheet' id='noo-woocommerce-css' href='~/wp-content/themes/noo-citilights/assets/css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' id='noo-custom-style-css' href='~/wp-content/uploads/noo_citilights/custom.css' type='text/css' media='all' />
    <link rel='stylesheet' id='noo-style-css' href='~/wp-content/themes/noo-citilights/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='vendor-font-awesome-css-css' href='~/wp-content/themes/noo-citilights/framework/vendor/fontawesome/css/font-awesome.minbfce.css?ver=4.1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='noo-google-fonts-default-css' href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,300italic,400italic,700italic,900italic" type='text/css' media='all' />
    <!--[if lt IE 9]>
    <link rel='stylesheet' id='vc_lte_ie9-css'  href='http://wp.nootheme.com/citilights/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css?ver=6.0.5' type='text/css' media='screen' />
    <![endif]-->
    <link rel='stylesheet' id='js_composer_front-css' href='~/wp-content/plugins/js_composer/assets/css/js_composer.min52c7.css?ver=6.0.5' type='text/css' media='all' />
    <script type='text/javascript' src='~/wp-includes/js/jquery/jqueryaf6c.js?ver=3.6.0' id='jquery-core-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/jquery-migrated617.js?ver=3.3.2' id='jquery-migrate-js'></script>
    <script type='text/javascript' src='https://maps.google.com/maps/api/js?libraries=geometry&amp;key=AIzaSyCVldL9czMmSd7QaNecblFdml2pB5dUTt4&amp;ver=3.6.1' id='googlemaps3-js'></script>
    
    <script type='text/javascript' src='https://api-idx.diversesolutions.com/combo-js?config=dsidxpress&amp;ver=3.6.1' id='dsidx-js'></script>
    <script type='text/javascript' src='~/wp-content/plugins/revslider/public/assets/js/revolution.tools.minf049.js?ver=6.0' id='tp-tools-js'></script>
    <script type='text/javascript' src='~/wp-content/plugins/revslider/public/assets/js/rs6.min6fb3.js?ver=6.1.3' id='revmin-js'></script>
    <script type='text/javascript' src='~/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI44fd.js?ver=2.70' id='jquery-blockui-js'></script>
   
    <script type='text/javascript' src='~/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart3fd0.js?ver=3.8.2' id='wc-add-to-cart-js'></script>
    <script type='text/javascript' src='~/wp-content/plugins/js_composer/assets/js/vendors/woocommerce-add-to-cart52c7.js?ver=6.0.5' id='vc_woocommerce-add-to-cart-js-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/modernizr-2.7.1.min.js' id='vendor-modernizr-js'></script>
    
    <noscript>
        <style>
            .woocommerce-product-gallery {
                opacity: 1 !important;
            }
        </style>
    </noscript>
    <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress." />
    <meta name="generator" content="Powered by Slider Revolution 6.1.3 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">function setREVStartSize(t) { try { var h, e = document.getElementById(t.c).parentNode.offsetWidth; if (e = 0 === e || isNaN(e) ? window.innerWidth : e, t.tabw = void 0 === t.tabw ? 0 : parseInt(t.tabw), t.thumbw = void 0 === t.thumbw ? 0 : parseInt(t.thumbw), t.tabh = void 0 === t.tabh ? 0 : parseInt(t.tabh), t.thumbh = void 0 === t.thumbh ? 0 : parseInt(t.thumbh), t.tabhide = void 0 === t.tabhide ? 0 : parseInt(t.tabhide), t.thumbhide = void 0 === t.thumbhide ? 0 : parseInt(t.thumbhide), t.mh = void 0 === t.mh || "" == t.mh || "auto" === t.mh ? 0 : parseInt(t.mh, 0), "fullscreen" === t.layout || "fullscreen" === t.l) h = Math.max(t.mh, window.innerHeight); else { for (var i in t.gw = Array.isArray(t.gw) ? t.gw : [t.gw], t.rl) void 0 !== t.gw[i] && 0 !== t.gw[i] || (t.gw[i] = t.gw[i - 1]); for (var i in t.gh = void 0 === t.el || "" === t.el || Array.isArray(t.el) && 0 == t.el.length ? t.gh : t.el, t.gh = Array.isArray(t.gh) ? t.gh : [t.gh], t.rl) void 0 !== t.gh[i] && 0 !== t.gh[i] || (t.gh[i] = t.gh[i - 1]); var r, a = new Array(t.rl.length), n = 0; for (var i in t.tabw = t.tabhide >= e ? 0 : t.tabw, t.thumbw = t.thumbhide >= e ? 0 : t.thumbw, t.tabh = t.tabhide >= e ? 0 : t.tabh, t.thumbh = t.thumbhide >= e ? 0 : t.thumbh, t.rl) a[i] = t.rl[i] < window.innerWidth ? 0 : t.rl[i]; for (var i in r = a[0], a) r > a[i] && 0 < a[i] && (r = a[i], n = i); var d = e > t.gw[n] + t.tabw + t.thumbw ? 1 : (e - (t.tabw + t.thumbw)) / t.gw[n]; h = t.gh[n] * d + (t.tabh + t.thumbh) } void 0 === window.rs_init_css && (window.rs_init_css = document.head.appendChild(document.createElement("style"))), document.getElementById(t.c).height = h, window.rs_init_css.innerHTML += "#" + t.c + "_wrapper { height: " + h + "px }" } catch (t) { console.log("Failure at Presize of Slider:" + t) } };</script>
    
    <style type="text/css" id="wp-custom-css">
        .page-map-right .noo-map .gsearch .gsearch-content {
            background-color: #fff;
        }

            .page-map-right .noo-map .gsearch .gsearch-content .gsearch-field {
                padding: 15px 0;
            }

        .page-map-right .noo-map {
            min-height: 250px;
        }
    </style>
    <noscript>
        <style>
            .wpb_animate_when_almost_visible {
                opacity: 1;
            }
        </style>
    </noscript>

</head>
<body class="home page-template page-template-page-full-width page-template-page-full-width-php page page-id-10274 theme-noo-citilights woocommerce-no-js  page-fullwidth full-width-layout wpb-js-composer js-comp-ver-6.0.5 vc_responsive">
    <div class="site">
        <div class="noo-topbar">
            <div class="topbar-inner content_right container-boxed max">
                <div class="noo-social social-icons ">
                    <a href="#" title="Facebook" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                    <a href="#" title="Twitter" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#" title="Google+" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a>
                    <a href="#" title="Pinterest" target="_blank">
                        <i class="fa fa-pinterest"></i>
                    </a>
                    <a href="#" title="RSS" target="_blank">
                        <i class="fa fa-rss"></i>
                    </a>
                </div>
                <p class="topbar-content"></p>
                <ul class="topbar-content">
                    <li class="noo-li-icon"><a href="http://wp.nootheme.com/cdn-cgi/l/email-protection#fd94939b92bd9e94899491949a95898ed39e9290"><i class="fa fa-envelope-o"></i>&nbsp;Email:<span class="__cf_email__" data-cfemail="bed7d0d8d1feddd7cad7d2d7d9d6cacd90ddd1d3">[email&#160;protected]</span> </a></li>
                    <li class="noo-li-icon"><a class="open-form-login" href="login-register/index629d.html?redirect_to=http%3A%2F%2Fwp.nootheme.com%2Fcitilights"><i class="fa fa-sign-in"></i>&nbsp;Login</a></li>
                    <li class="noo-li-icon"><a class="open-form-register" href="login-register/index.html"><i class="fa fa-key"></i>&nbsp;Register</a></li>
                </ul>
                <script data-cfasync="false" src="~/~/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                <script type="text/javascript"></script>
            </div>
        </div>
        <header class="noo-header " role="banner">
            <div class="navbar-wrapper">
                <div class="navbar  fixed-top shrinkable has-mobile" role="navigation">
                    <div class="container-boxed max">
                        <div class="noo-navbar">
                            <div class="navbar-header">
                                <h1 class="sr-only">CitiLights</h1>
                                <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".noo-navbar-collapse">
                                    <span class="sr-only">Navigation</span>
                                    <i class="fa fa-bars"></i>
                                </a>
                                <a href="index.html" class="navbar-brand" title="Just another WordPress site">
                                    <img class="noo-logo-img noo-logo-normal" src="~/wp-content/uploads/2019/11/logo_f565d156ca5c10bae31120710036db75.png" alt="Just another WordPress site"> <img class="noo-logo-retina-img noo-logo-normal" src="~/wp-content/uploads/2019/11/logo_f565d156ca5c10bae31120710036db75.png" alt="Just another WordPress site">
                                </a>
                            </div>
                            <div class="calling-info">
                                <div class="calling-content">
                                    <i class="fa fa-mobile"></i>
                                    <div class="calling-desc">
                                        CALL US NOW<br>
                                        <span><a href="tel:(+01)-793-7938">(+01)-793-7938</a></span>
                                    </div>
                                </div>
                            </div>
                            <nav class="collapse navbar-collapse noo-navbar-collapse" role="navigation">
                                <ul id="menu-main-menu" class="navbar-nav sf-menu">
                                    <li id="menu-item-6857" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-6857 align-left">
                                        <a href="homepage-realty/index.html">Home</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-10367" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-10274 current_page_item menu-item-10367 fly-right"><a href="index.html" aria-current="page">Home Main</a></li>
                                            <li id="menu-item-10920" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10920 fly-right"><a href="home-property-listing/index.html">Home Property Listing</a></li>
                                            <li id="menu-item-10921" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10921 fly-right"><a href="home-resident-portal/index.html">Home Resident Portal</a></li>
                                            <li id="menu-item-10200" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10200 fly-right"><a href="homepage-realty/index.html">Home Real Estate</a></li>
                                            <li id="menu-item-6862" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6862 fly-right"><a href="home-map-vertical/index.html">Home Map Vertical</a></li>
                                            <li id="menu-item-10046" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-10046 fly-right"><a href="home-map-vertical-2/index.html">Home Map Horizontal</a></li>
                                            <li id="menu-item-7707" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7707 fly-right"><a href="advanced-amenities-search/index.html">Advanced Amenities Search</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-7142" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7142 align-left">
                                        <a href="properties/index.html">Properties</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-7066" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7066 fly-right">
                                                <a href="#">List</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-7092" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7092 fly-right"><a href="with-sidebar/index.html">With Sidebar</a></li>
                                                    <li id="menu-item-7085" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7085 fly-right"><a href="no-sidebar-3/index.html">No Sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-7067" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7067 fly-right">
                                                <a href="#">Grid</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-7090" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7090 fly-right"><a href="with-sidebar-2/index.html">With Sidebar</a></li>
                                                    <li id="menu-item-7089" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7089 fly-right"><a href="no-sidebar-2/index.html">No Sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-7069" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7069 fly-right">
                                                <a href="#">Types</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-7093" class="menu-item menu-item-type-taxonomy menu-item-object-property_category menu-item-7093 fly-right"><a href="listings/single-family-home/index.html">Single Family Home</a></li>
                                                    <li id="menu-item-7094" class="menu-item menu-item-type-taxonomy menu-item-object-property_category menu-item-7094 fly-right"><a href="listings/apartment/index.html">Apartment</a></li>
                                                    <li id="menu-item-7095" class="menu-item menu-item-type-taxonomy menu-item-object-property_category menu-item-7095 fly-right"><a href="listings/coop/index.html">Co-op</a></li>
                                                    <li id="menu-item-7096" class="menu-item menu-item-type-taxonomy menu-item-object-property_category menu-item-7096 fly-right"><a href="listings/condo/index.html">Condo</a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-7153" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7153 fly-right">
                                                <a href="#">Status</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-7154" class="menu-item menu-item-type-taxonomy menu-item-object-property_status menu-item-7154 fly-right"><a href="status/sales/index.html">Sale</a></li>
                                                    <li id="menu-item-7155" class="menu-item menu-item-type-taxonomy menu-item-object-property_status menu-item-7155 fly-right"><a href="status/rents/index.html">Rent</a></li>
                                                    <li id="menu-item-7156" class="menu-item menu-item-type-taxonomy menu-item-object-property_status menu-item-7156 fly-right"><a href="status/open-house/index.html">Open house</a></li>
                                                    <li id="menu-item-7157" class="menu-item menu-item-type-taxonomy menu-item-object-property_status menu-item-7157 fly-right"><a href="status/sold/index.html">Sold</a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-7171" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-7171 fly-right"><a href="properties/the-helux/index.html">Property details</a></li>
                                            <li id="menu-item-9044" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9044 fly-right"><a href="map-property/index.html">Map Property</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-6691" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6691 align-right">
                                        <a href="#">Features</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-6694" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6694 fly-left">
                                                <a href="#">Blog</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-5897" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5897 fly-left"><a href="blog/index.html">Blog</a></li>
                                                    <li id="menu-item-5935" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-5935 fly-left"><a href="default-blog-left-sidebar/index.html">Default Blog Left Sidebar</a></li>
                                                    <li id="menu-item-6152" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6152 fly-left"><a href="default-blog-right-sidebar/index.html">Default Blog Right Sidebar</a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-8694" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-8694 fly-right">
                                                <a href="shop/index.html">Shop</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-8691" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-8691 fly-right"><a href="product-category/chair/index.html">Product Category</a></li>
                                                    <li id="menu-item-8696" class="menu-item menu-item-type-post_type menu-item-object-product menu-item-8696 fly-right"><a href="product/lobortis-nisl-ut/index.html">Single product</a></li>
                                                    <li id="menu-item-8692" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8692 fly-right"><a href="checkout/index.html">Checkout</a></li>
                                                    <li id="menu-item-8693" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-8693 fly-right"><a href="cart/index.html">Cart</a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-6693" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6693 fly-left">
                                                <a href="#">Shortcodes</a>
                                                <ul class="sub-menu">
                                                    <li id="menu-item-6805" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6805 fly-left"><a href="vc-shortcodes/index.html">VC Shortcodes</a></li>
                                                    <li id="menu-item-6815" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6815 fly-left"><a href="citilights-shortcode/index.html">Citilights Shortcode</a></li>
                                                    <li id="menu-item-6926" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6926 fly-right"><a href="shortcodes/vc-pricing-table/index.html">VC Pricing Table</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-7141" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7141 align-left">
                                        <a href="agents/index.html">Agents</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-7143" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-7143 fly-left"><a href="agents/index.html">Agents Listing</a></li>
                                            <li id="menu-item-7374" class="menu-item menu-item-type-post_type menu-item-object-noo_agent menu-item-7374 fly-right"><a href="agents/stacy-barron/index.html">Agent: Stacy Barron</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-6790" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-6790 align-right">
                                        <a href="submit-property/index.html">Submit</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-6788" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6788 fly-left"><a href="agent-profile/index.html">My Profile</a></li>
                                            <li id="menu-item-6787" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6787 fly-left"><a href="agent-dashboard/index.html">My Properties</a></li>
                                            <li id="menu-item-6789" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6789 fly-left"><a href="submit-property/index.html">Submit Property</a></li>
                                            <li id="menu-item-9045" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9045 fly-right"><a href="my-favorites/index.html">My Favorites</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-6904" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-6904 align-left">
                                        <a href="idx/index.html">IDX</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-6905" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6905 fly-right"><a href="idx-shortcode-single/index.html">IDX Single Listing Shortcode</a></li>
                                            <li id="menu-item-6913" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6913 fly-right"><a href="idx-multiple-shortcode/index.html">IDX Multiple Listing Shortcode</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-5900" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-5900 align-right">
                                        <a href="contact/index.html">Contact</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-6249" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-6249 fly-left"><a href="contact-1/index.html">Contact 1</a></li>
                                        </ul>
                                    </li>
                                    <li id="nav-menu-item-search" class="menu-item noo-menu-item-search">
                                        <a class="search-button" href="#"><i class="fa fa-search"></i></a>
                                        <div class="searchbar hide">
                                            <form method="GET" id="searchform" class="form-horizontal" action="http://wp.nootheme.com/citilights/" role="form">
                                                <label for="s" class="sr-only"></label>
                                                <input type="search" id="s" name="s" class="form-control" value="" placeholder="Search" />
                                                <input type="submit" id="searchsubmit" class="hidden" value="Search" />
                                            </form>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        





        @RenderBody()
        <div class="colophon wigetized hidden-print" role="contentinfo">
            <div class="container-boxed max">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div id="text-3" class="widget widget_text">
                            <h4 class="widget-title">CitiLights</h4>
                            <div class="textwidget">
                                <p>CitiLights brings wide range of choice, steadily updated property list and market trend for you to figure out your right decision.</p>
                                <p>You are now at right place for your real estate research. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div id="noo_property_featured-2" class="widget widget_noo_property_featured">
                            <h4 class="widget-title">Featured Property</h4>
                            <div class="property-featured">
                                <ul>
                                    <li>
                                        <div class="featured-image">
                                            <a href="properties/ava-high-line/index.html"><img width="190" height="160" src="~/wp-content/uploads/2019/11/Modern-Sharp-Santa-Rosa-Interior-800x450_89ac5ebf1863ca805856951ee1d76724-190x160.jpg" class="attachment-property-infobox size-property-infobox wp-post-image" alt="" loading="lazy" /></a>
                                        </div>
                                        <span class="featured-status">
                                            <a href="status/rents/index.html">For Rent</a>
                                        </span>
                                        <h4><a href="properties/ava-high-line/index.html">AVA High Line</a></h4>
                                    </li>
                                    <li>
                                        <div class="featured-image">
                                            <a href="properties/225-e-36th-st-20d/index.html"><img width="190" height="160" src="~/wp-content/uploads/2014/08/room-of-small-luxurious-house-in-swiss-style-decoration-designer-idea-for-small-living-areas-190x160.jpg" class="attachment-property-infobox size-property-infobox wp-post-image" alt="" loading="lazy" /></a>
                                        </div>
                                        <span class="featured-status">
                                            <a href="status/open-house/index.html">For Open house</a>
                                        </span>
                                        <h4><a href="properties/225-e-36th-st-20d/index.html">225 E 36th St #20D</a></h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div id="nav_menu-2" class="widget widget_nav_menu">
                            <h4 class="widget-title">Useful links</h4>
                            <div class="menu-footer-menu-container">
                                <ul id="menu-footer-menu" class="menu">
                                    <li id="menu-item-6322" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6322 align-right"><a href="#">Terms of Use</a></li>
                                    <li id="menu-item-6323" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6323 align-right"><a href="#">Privacy Policy</a></li>
                                    <li id="menu-item-6324" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6324 align-right"><a href="#">Contact Support</a></li>
                                    <li id="menu-item-6325" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6325 align-right"><a href="#">Knowledgebase</a></li>
                                    <li id="menu-item-6326" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6326 align-right"><a href="#">Careers</a></li>
                                    <li id="menu-item-6327" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6327 align-right"><a href="#">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div id="text-2" class="widget widget_text">
                            <h4 class="widget-title">Contact info</h4>
                            <div class="textwidget">
                                <div class="footer-contact-info">
                                    <div class=""><i class="fa fa-map-marker"></i>&nbsp;376 Baker Street, New York</div>
                                    <div class=""><i class="fa fa-phone"></i>&nbsp;(+01)-486-2857</div>
                                    <div class=""><i class="fa fa-envelope-o"></i>&nbsp;<a href="http://wp.nootheme.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="7d14131b123d1e14091411141a15090e531e1210">[email&#160;protected]</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="colophon site-info" role="contentinfo">
            <div class="container-full">
                <div class="footer-more">
                    <div class="container-boxed max">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="noo-bottom-bar-content">
                                    © 2019 CitiLights. All Rights Reserved. <br /><span>Powered by Wordpress</span>
                                </div>
                            </div>
                            <div class="col-md-1"><a href="#" class="go-to-top on"><i class="fa fa-angle-up"></i></a></div>
                            <div class="col-md-5 text-right">
                                <img src="~/wp-content/uploads/2014/09/dark-logo.png" alt="CitiLights">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <div class="modal fade in" id="loginmodal" tabindex="-1" role="dialog" aria-labelledby="noo-form-title" aria-hidden="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" id="close-fomr-login" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="noo-form-title">
                        Login
                    </h4>
                </div>
                <div class="modal-body">
                    <form method="POST" class="noo-box noo-box-login class-login-wrap-612a0e935d86f">
                        <h3 class="notice-form-login">You must be logged in to add listings to favorites.</h3>
                        <div class="login_form">
                            <div class="loginalert login_message_area"></div>
                            <div class="noo-item user_log">
                                <input type="text" class="form-control" name="user_login" placeholder="Username *">
                            </div>
                            <div class="noo-item user_pass">
                                <input type="password" class="form-control" name="user_password" placeholder="Password *">
                            </div>
                            <div class="noo-form-action">
                                <button type="submit" class="btn btn-secondary noo-login" data-class-wrap=".class-login-wrap-612a0e935d86f">
                                    Login
                                </button>
                                <div class="forgot-password">
                                    <a href="forgot-password/index.html" class="open-forgot" title="Forgot Password?" data-title="Forgot Password?">
                                        Forgot Password?
                                    </a>
                                </div>
                                <div class="login-links">
                                    <a href="login-register/index.html" class="open-register" title="Don&#039;t have an account? Register here!" data-title="Register">
                                        Don&#039;t have an account? Register here!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form method="POST" class="noo-box noo-box-register class-register-wrap-612a0e935d8c8">
                        <div class="register_form">
                            <div class="loginalert register_message_area"></div>
                            <div class="noo-item user_login">
                                <input type="text" name="user_login" class="user_login form-control" placeholder="Username *">
                            </div>
                            <div class="noo-item user_email">
                                <input type="text" name="user_email" class="user_email form-control" placeholder="Your Email *">
                            </div>
                            <div class="noo-item user_password">
                                <input type="password" name="user_password" class="user_password form-control" placeholder="Password">
                            </div>
                            <div class="noo-item user_password_retype">
                                <input type="password" name="user_password_retype" class="user_password_retype form-control" placeholder="Retype Password">
                            </div>
                            <div class="noo-item-checkbox">
                                <input type="checkbox" name="terms" class="user_terms" data-id-register="id_register612a0e935d8d5" id="user_terms612a0e935d8d6">
                                <label class="user_terms_register_label" for="user_terms612a0e935d8d6">
                                    I agree with <a href="terms-conditions/index.html" target="_blank">terms &amp; conditions</a>
                                </label>
                            </div>
                            <div class="noo-form-action">
                                <button type="submit" class="btn btn-secondary noo-register" data-class-wrap=".class-register-wrap-612a0e935d8c8" id="id_register612a0e935d8d5" disabled="disabled">
                                    Register
                                </button>
                                <div class="login-links open-login" data-title="Login">
                                    <a href="login-register/index.html" title="Already a member? Sign in!">
                                        Already a member? Sign in!
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                    <form method="POST" class="noo-box" id="noo-forgot-password">
                        <div class="forgot_form">
                            <div class="loginalert" id="forgot_message_area">
                                Forgot your password ? Thank you enter your username or email address. You will receive a link to create a new password
                            </div>
                            <div class="noo-item user_forgot">
                                <input type="text" name="user_forgot" id="user_forgot" class="form-control" placeholder="Enter Username or Email">
                            </div>
                            <div class="noo-form-action">
                                <button type="submit" class="btn btn-secondary" id="noo-forgot">
                                    Reset Password
                                </button>
                                <div class="login-links open-login" data-title="Login">
                                    <a href="login-register/index.html" title="Already a member? Sign in!">
                                        Already a member? Sign in!
                                    </a>
                                </div>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script data-cfasync="false" src="~/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>

    <script type="text/javascript">
        var c = document.body.className;
        c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
        document.body.className = c;
    </script>
    <link rel='stylesheet' id='vendor-chosen-css' href='~/wp-content/themes/noo-citilights/framework/vendor/chosen/chosen.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owlcarousel2-css' href='~/wp-content/themes/noo-citilights/framework/vendor/owl-carousel-2/owl.carousel.css' type='text/css' media='all' />
    <link rel='stylesheet' id='owlcarousel2-theme-css' href='~/wp-content/themes/noo-citilights/framework/vendor/owl-carousel-2/owl.theme.default.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/core35d0.js?ver=1.12.1' id='jquery-ui-core-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/mouse35d0.js?ver=1.12.1' id='jquery-ui-mouse-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/resizable35d0.js?ver=1.12.1' id='jquery-ui-resizable-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/draggable35d0.js?ver=1.12.1' id='jquery-ui-draggable-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/controlgroup35d0.js?ver=1.12.1' id='jquery-ui-controlgroup-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/checkboxradio35d0.js?ver=1.12.1' id='jquery-ui-checkboxradio-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/button35d0.js?ver=1.12.1' id='jquery-ui-button-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/dialog35d0.js?ver=1.12.1' id='jquery-ui-dialog-js'></script>
    <script type='text/javascript' src='~/wp-content/plugins/dsidxpress/js/widget-clienta7a0.js?ver=3.6.1' id='dsidxpress_widget_search_view-js'></script>
    <script type='text/javascript' src='~/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.selectBox.min7359.js?ver=1.2.0' id='jquery-selectBox-js'></script>

    <script type='text/javascript' src='~/wp-content/plugins/yith-woocommerce-wishlist/assets/js/jquery.yith-wcwlbf3e.js?ver=2.2.16' id='jquery-yith-wcwl-js'></script>

    <script type='text/javascript' src='~/wp-content/plugins/contact-form-7/includes/js/scriptsc6ac.js?ver=5.1.5' id='contact-form-7-js'></script>
    <script type='text/javascript' src='~/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie6b25.js?ver=2.1.4' id='js-cookie-js'></script>

    <script type='text/javascript' src='~/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce3fd0.js?ver=3.8.2' id='woocommerce-js'></script>

    <script type='text/javascript' src='~/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments3fd0.js?ver=3.8.2' id='wc-cart-fragments-js'></script>
    <script type='text/javascript' src='~/wp-content/plugins/woocommerce/assets/js/prettyPhoto/jquery.prettyPhoto005e.js?ver=3.1.6' id='prettyPhoto-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/easing-1.3.0.min.js' id='vendor-easing-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/jquery.appear.js' id='vendor-appear-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/comment-reply41a3.js?ver=5.8' id='comment-reply-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/bootstrap.min.js' id='vendor-bootstrap-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/hoverIntent-r7.min.js' id='vendor-hoverIntent-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/superfish-1.7.4.min.js' id='vendor-superfish-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/jplayer/jplayer-2.5.0.min.js' id='vendor-jplayer-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/slider35d0.js?ver=1.12.1' id='jquery-ui-slider-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/jquery.ui.touch-punchc682.js?ver=0.2.2' id='jquery-touch-punch-js'></script>

    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/assets/js/noo.js' id='noo-script-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/TouchSwipe/jquery.touchSwipe.min.js' id='vendor-TouchSwipe-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/carouFredSel/jquery.carouFredSel-6.2.1-packed.js' id='vendor-carouFredSel-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/imagesloaded.pkgd.min.js' id='vendor-imagesloaded-js'></script>

    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/assets/js/property.js' id='noo-property-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/wp-embed41a3.js?ver=5.8' id='wp-embed-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/menu35d0.js?ver=1.12.1' id='jquery-ui-menu-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/dist/vendor/regenerator-runtimeb36a.js?ver=0.13.7' id='regenerator-runtime-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/dist/vendor/wp-polyfill2c7c.js?ver=3.15.0' id='wp-polyfill-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/dist/dom-ready7354.js?ver=71883072590656bf22c74c7b887df3dd' id='wp-dom-ready-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/dist/hookse16b.js?ver=a7edae857aab69d69fa10d5aef23a5de' id='wp-hooks-js'></script>
    <script type='text/javascript' src='~/wp-includes/js/dist/i18n71a7.js?ver=5f1269854226b4dd90450db411a12b79' id='wp-i18n-js'></script>

    <script type='text/javascript' src='~/wp-includes/js/dist/a11yac6e.js?ver=0ac8327cc1c40dcfdf29716affd7ac63' id='wp-a11y-js'></script>

    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/autocomplete35d0.js?ver=1.12.1' id='jquery-ui-autocomplete-js'></script>
    <script type='text/javascript' src='~/wp-content/plugins/dsidxpress/js/autocompletea7a0.js?ver=3.6.1' id='dsidx-autocomplete-js'></script>
    <script type='text/javascript' src='~/wp-content/plugins/dsidxpress/js/autocomplete-mls-numbera7a0.js?ver=3.6.1' id='dsidx-autocomplete-mls-number-js'></script>
    <script type='text/javascript' src='~/wp-content/plugins/js_composer/assets/js/dist/js_composer_front.min52c7.js?ver=6.0.5' id='wpb_composer_front_js-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/jquery.parallax-1.1.3.js' id='vendor-parallax-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/jquery.form.min.js' id='vendor-form-js'></script>
    <script type='text/javascript' src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;libraries=places&amp;key=AIzaSyCRFdCDv0PExBF4VZQvAlBs4nlqlIPrp_4" id='googleapis-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/assets/js/infobox.js' id='google-map-infobox-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/assets/js/markerclusterer.js' id='google-map-markerclusterer-js'></script>

    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/assets/js/property-map.js' id='noo-property-map-js'></script>
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=AgOPskZ-APV_7eI2CoJACYGzDsJdgdJUUNNC-85E0KYeSNEAX1SD723ESJRIdtxz&amp;callback=Noo_Bing_Map' id='bing-map-api-js'></script>

    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/assets/js/bing-map.js' id='bing-map-js'></script>
    <script type='text/javascript' id='vendor-chosen-js-extra'>
        /* <![CDATA[ */
        var noo_chosen = { "multiple_text": "Select Some Options", "single_text": "Select an Option", "no_result_text": "No results match" };
                     /* ]]> */
    </script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/chosen/chosen.jquery.min.js' id='vendor-chosen-js'></script>
    <script type='text/javascript' src='~/wp-content/themes/noo-citilights/framework/vendor/owl-carousel-2/owl.carousel.min.js' id='owlcarousel2-js'></script>
    <script type='text/javascript' src='~/wp-content/plugins/js_composer/assets/lib/bower/isotope/dist/isotope.pkgd.min52c7.js?ver=6.0.5' id='isotope-js'></script>
</body>
</html>