@{

}
<style type="text/css" data-type="vc_custom-css">
    .contact-info li {
        margin-bottom: 1em;
    }
</style>
<div class="container-wrap">
    <div class="main-content container-boxed max offset">
        <div class="row">
            <div class="noo-main col-md-12 right-sidebar noo-page" role="main">
                <h2>OOPS Something wents wrong, Please contact Website Admin regarding this.</h2>
                <br />
                <img src="https://i1.wp.com/atlassianblog.wpengine.com/wp-content/uploads/2017/12/44-incredible-404-error-pages@3x.png?w=1920&ssl=1"
                     style="height:250px;width:100%"
                     />
            </div>
        </div>
    </div>
</div>