<div class="colophon wigetized hidden-print" role="contentinfo">
    <div class="container-boxed max">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div id="text-3" class="widget widget_text">
                    <h4 class="widget-title">A2Z Property</h4>
                    <div class="textwidget">
                        <p>A2Z brings wide range of choice, steadily updated property list and market trend for you to figure out your right decision.</p>
                        <p>You are now at right place for your real estate research. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div id="noo_property_featured-2" class="widget widget_noo_property_featured">
                    <h4 class="widget-title">Featured Property</h4>
                    <div class="property-featured">
                        <ul>
                            <li>
                                <div class="featured-image">
                                    <a href="properties/ava-high-line/index.html"><img width="190" height="160" src="~/wp-content/uploads/2019/11/Modern-Sharp-Santa-Rosa-Interior-800x450_89ac5ebf1863ca805856951ee1d76724-190x160.jpg" class="attachment-property-infobox size-property-infobox wp-post-image" alt="" loading="lazy" /></a>
                                </div>
                                <span class="featured-status">
                                    <a href="status/rents/index.html">For Rent</a>
                                </span>
                                <h4><a href="properties/ava-high-line/index.html">AVA High Line</a></h4>
                            </li>
                            <li>
                                <div class="featured-image">
                                    <a href="properties/225-e-36th-st-20d/index.html"><img width="190" height="160" src="~/wp-content/uploads/2014/08/room-of-small-luxurious-house-in-swiss-style-decoration-designer-idea-for-small-living-areas-190x160.jpg" class="attachment-property-infobox size-property-infobox wp-post-image" alt="" loading="lazy" /></a>
                                </div>
                                <span class="featured-status">
                                    <a href="status/open-house/index.html">For Open house</a>
                                </span>
                                <h4><a href="properties/225-e-36th-st-20d/index.html">225 E 36th St #20D</a></h4>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div id="nav_menu-2" class="widget widget_nav_menu">
                    <h4 class="widget-title">Useful links</h4>
                    <div class="menu-footer-menu-container">
                        <ul id="menu-footer-menu" class="menu">
                            <li id="menu-item-6322" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6322 align-right"><a href="#">Terms of Use</a></li>
                            <li id="menu-item-6323" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6323 align-right"><a href="#">Privacy Policy</a></li>
                            <li id="menu-item-6324" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6324 align-right"><a href="#">Contact Support</a></li>
                            <li id="menu-item-6325" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6325 align-right"><a href="#">Knowledgebase</a></li>
                            <li id="menu-item-6326" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6326 align-right"><a href="#">Careers</a></li>
                            <li id="menu-item-6327" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6327 align-right"><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div id="text-2" class="widget widget_text">
                    <h4 class="widget-title">Contact info</h4>
                    <div class="textwidget">
                        <div class="footer-contact-info">
                            <div class=""><i class="fa fa-map-marker"></i>&nbsp;376 Baker Street, New York</div>
                            <div class=""><i class="fa fa-phone"></i>&nbsp;(+971)-562162833</div>
                            <div class=""><i class="fa fa-envelope-o"></i>&nbsp;<a href="mailto:pritam.maity@a2zproperties.ae" style="color:white">pritam.maity@a2zproperties.ae</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="colophon site-info" role="contentinfo">
    <div class="container-full">
        <div class="footer-more">
            <div class="container-boxed max">
                <div class="row">
                    <div class="col-md-6">
                        <div class="noo-bottom-bar-content">
                            © @DateTime.Now.Year A2Z Property. All Rights Reserved. <br /><span>Powered by Wordpress</span>
                        </div>
                    </div>
                    <div class="col-md-1"><a href="#" class="go-to-top on"><i class="fa fa-angle-up"></i></a></div>
                    <div class="col-md-5 text-right">
                        <img src="~/A2Z-contents/img/logo/logo.png"  alt="A2Z Property">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>