<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="headerText">A2Z Header </h4>
            </div>
            <div class="modal-body" id="divCreate">
                <p>Loading Please wait...</p>
            </div>
            
        </div>
    </div>
</div>