@model A2ZPortal.Core.Entities.Customers.CustomerDetails

<link href="~/A2Z-wp-contents/css/global-usability.css" rel="stylesheet" />
<section style=" background-image: url(../A2Z-wp-contents/img/bg-pattern.png);">
    <div class="container">
        <div class="login-page" style="padding:0">
            <div class="wht-shd-bx col-lg-10 lg-offset-1 bg-white p-3" id="body_div">
                <div class="row">
                    <div class="login-left col-lg-6 mt-5">
                        <h3>Your dream property</h3>
                        <ul style="list-style:none">
                            <li><i class="fa fa-check"></i>200 + Properties</li>
                            <li><i class="fa fa-check"></i> Best property recommendations</li>
                        </ul>
                    </div>
                    <div class="login-form col-lg-6 bg-white mt-5" style="height:100%; padding:0">
                        <div id="login_midbox_id" style="display:block;">
                            <form method="POST" asp-action="Login" asp-controller="CustomerDetail" class="form-horizontal mt-3 py-0 px-3 custom-block">
                                <h3 class="ml-5">Login to your A2Z Properties account</h3>
                                @if (!string.IsNullOrEmpty(Model.PlaceAddress))
                                {
                                 <span id="errormsg" class="msg error">@Model.PlaceAddress</span>}
                                <ul class="form-list" style="list-style:none">
                                    <li>
                                        <label class="">Email Id <span style="color: #dc3545">*</span> </label>
                                        <input type="hidden" asp-for="ReturnUrl" />
                                        <input type="text" class="browser-default form-control" asp-for="CustomerEmail" placeholder="Email Id *" required style="color: rgb(153, 153, 153);">
                                        <span id="Span_EmailId" class="text-danger"></span>
                                    </li>
                                    <li>
                                        <label>Password <span style="color: #dc3545">*</span> </label>
                                        <input type="password" class="browser-default form-control" asp-for="Password" placeholder="Password" required>
                                        <span id="Span_Password" class="text-danger"></span>
                                    </li>
                                    <li class="clearfix login-act">
                                        <a href="#" onclick="return ChangeDiv()" style="padding:2px 5px; position:relative;">Forgot your Password?</a>
                                        <i class="waves-effect waves-light btn waves-input-wrapper" style="border-radius: 0">
                                            <button class="btn btn-success mb-3" onclick="return SubmitContact();">Submit</button>
                                            
                                        </i>
                                    </li>
                                </ul>
                            </form>
                            <div class="ml-5 pl-2">
                                <h4>
                                    Don't have an account?<a id="registerlogin" asp-action="Register" asp-controller="CustomerDetail"><u>  Register Now!</u></a>
                                </h4>
                            </div>
                        </div>




                        <div id="login_forgetpassword_id" class="col-lg-12 bg-white mt-5" style="display:none;">
                            <form method="POST" asp-action="Login" asp-controller="CustomerDetail" class="form-horizontal mt-3 py-0 px-3   custom-block" style="display: contents;">
                                <h3 class="ml-5">Forget Password to your A2Z Properties account</h3>
                                @*@if (!string.IsNullOrEmpty(Model.PlaceAddress))
                                    {
                                        <span id="errormsg" class="msg error">@Model.PlaceAddress</span>

                                    }*@
                                <ul class="form-list" style="list-style:none">
                                    <li>
                                        <label class="">Email Id * </label>

                                        <input type="hidden" asp-for="ReturnUrl" />
                                        <input type="text" class="browser-default form-control" asp-for="CustomerEmail" placeholder="" required style="color: rgb(153, 153, 153);">
                                        <span id="Span_EmailId" class="text-danger"></span>
                                    </li>
                                    <li class="clearfix login-act">
                                        <a href="#" onclick="return BTL()" style="padding:2px 5px; position:relative;">Login</a>
                                        <i class="waves-effect waves-light btn waves-input-wrapper" style="border-radius: 0">
                                            <button class="btn btn-success mb-3" onclick="return SubmitContact();">Submit</button>
                                            
                                        </i>
                                    </li>
                                </ul>
                            </form>
                            <div class="ml-5">
                                <h4>
                                    Don't have an account?<a id="registerlogin" asp-action="Register" asp-controller="CustomerDetail"><u>  Register Now!</u></a>
                                </h4>
                            </div>
                        </div>




                    </div>


                </div>

            </div>
            <!-- login bottom box starts here-->
        </div>

</section>