@model A2ZPortal.Core.Entities.Customers.CustomerDetails

<script src=~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>

<link href="~/A2Z-wp-contents/css/global-usability.css" rel="stylesheet" />

<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

<style>
     .waves-input-wrapper {
        vertical-align: bottom;
    }

    .waves-effect {
        position: relative;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-tap-highlight-color: transparent;
        vertical-align: middle;
        z-index: 1;
        -webkit-transition: .3s ease-out;
        transition: .3s ease-out;
    }

    .btn, .btn-large {
        text-decoration: none;
        color: #fff;
        background-color: #f24141;
        text-align: center;
        -webkit-transition: .2s ease-out;
        transition: .2s ease-out;
        cursor: pointer;
    }

    .btn, .btn-large, .btn-floating, .btn-large, .btn-flat {
        font-size: 13px;
        outline: 0;
        font-weight: 600;
    }

    .btn, .btn-large, .btn-flat {
        border: none;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 0.25rem;
        text-transform: uppercase;
        vertical-align: middle;
        -webkit-tap-highlight-color: transparent;
    }

    .waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
        border: 0;
        font-style: normal;
        font-size: inherit;
        text-transform: inherit;
        background: none;
    }

    input-wrapper .waves-button-input {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
    }

    button, html input[type="button"], input[type="reset"], input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }

    .btn-success, .btn-success:hover {
        background: #f24141 !important;
        border: 0 !important;
    }

     ul {
        margin: auto 0;
    }
    .login-left h3{margin-left:5px}
    .login-left ul{margin-left:-35px}
</style>


<section style=" background-image: url(../A2Z-wp-contents/img/bg-pattern.png);  padding:50px 0">
    <div class="container">
        <div class="login-page" style="padding:0; box-shadow:0 0 10px #000">
            <div class="col-lg-12 bg-white" id="body_div">
                <div class="row">
                    <div class="login-left col-lg-6">
                        <h3>Your dream property</h3>
                        <ul style="list-style:none">
                            <li><i class="fa fa-check"></i>200 + Properties</li>
                            <li><i class="fa fa-check"></i> Best property recommendations</li>
                        </ul>
                    </div>
                    <div class="login-form col-lg-6 bg-white" style="height:100%; padding:0 15px 0 0">
                        <div id="login_midbox_id" style="display:block;">
                            <form method="POST" asp-action="Login" asp-controller="CustomerDetail" class="form-horizontal mt-3 py-0 px-3 custom-block">
                                <h3 class="ml-5">Login to your A2Z Properties Account</h3>
                                @if (!string.IsNullOrEmpty(Model.PlaceAddress))
                                {
                                    <div class="ml-5">
                                        <span id="errormsg" class="msg error">@Model.PlaceAddress</span>
                                    </div>

                                }
                                @if (!string.IsNullOrEmpty(Model.Message))
                                {
                                    <div class="ml-5">
                                        <span id="errormsg" class="msg error">@Model.Message</span>
                                    </div>

                                }
                                <ul class="form-list ml-2" style="list-style:none">
                                    <li>
                                        <label class="">Email ID <span style="color: #dc3545">*</span> </label>
                                        <input type="hidden" asp-for="ReturnUrl" />
                                        <input type="text" class="browser-default form-control" asp-for="CustomerEmail" placeholder="" required style="color: rgb(153, 153, 153);">
                                        <span asp-validation-for="CustomerEmail" class="text-danger"></span>

                                    </li>
                                    <li>
                                        <label>Password <span style="color: #dc3545">*</span> </label>
                                        <input type="password" class="browser-default form-control" asp-for="Password" placeholder="" required>
                                        <span asp-validation-for="Password" class="text-danger"></span>

                                    </li>
                                    <li class="clearfix login-act">
                                        <a href="#" onclick="return ChangeDiv()">Forgot your Password?</a>
                                        <i class="waves-effect waves-light btn waves-input-wrapper" style="border-radius: 0">
                                            <button class="btn btn-success mb-3" onclick="return SubmitContact();">Submit</button>
                                            @*<input type="submit" id="submitbutton" value="Login" class="waves-button-input text-white">*@
                                        </i>
                                    </li>
                                </ul>
                            </form>
                            <div class="ml-5 pl-3">
                                <h4>
                                    Don't have an account?<a id="registerlogin" asp-action="Register" asp-controller="CustomerDetail"><u>  Register Now!</u></a>
                                </h4>
                            </div>
                        </div>




                        <div id="login_forgetpassword_id" class="col-lg-12 bg-white mt-5" style="display:none;">
                            <form method="POST" asp-action="Login" asp-controller="CustomerDetail" class="form-horizontal mt-3 py-0 px-3   custom-block" style="display: contents;">
                                <h3 class="ml-5">Forget Password to your A2Z Properties account</h3>
                                @*@if (!string.IsNullOrEmpty(Model.PlaceAddress))
                                    {
                                        <span id="errormsg" class="msg error">@Model.PlaceAddress</span>

                                    }*@
                                <ul class="form-list ml-2" style="list-style:none">
                                    <li>
                                        <label class="">Email Id * </label>

                                        <input type="hidden" asp-for="ReturnUrl" />
                                        <input type="text" class="browser-default form-control" asp-for="CustomerEmail" placeholder="" required style="color: rgb(153, 153, 153);">
                                        <span asp-validation-for="CustomerEmail" class="text-danger"></span>

                                    </li>
                                    <li class="clearfix login-act">
                                        <a href="#" onclick="return BTL()">Login</a>
                                        <i class="waves-effect waves-light btn waves-input-wrapper" style="border-radius: 0">
                                            <button class="btn btn-success mb-3" onclick="return SubmitContact();">Submit</button>
                                            @*<input type="submit" id="submitbutton" value="Login" class="waves-button-input text-white">*@
                                        </i>
                                    </li>
                                </ul>
                            </form>
                            <div class="ml-5">
                                <h4>
                                    Don't have an account?<a id="registerlogin" asp-action="Register" asp-controller="CustomerDetail"><u>  Register Now!</u></a>
                                </h4>
                            </div>
                        </div>




                    </div>


                </div>

            </div>
            <!-- login bottom box starts here-->
        </div>

</section>


<script>
     $('.field-validation-error').html("");

    function ChangeDiv(){
        $("#login_midbox_id").attr("style","display:none");
        $("#login_forgetpassword_id").removeAttr("style");
    }

    function BTL(){
            $("#login_midbox_id").removeAttr("style");
        $("#login_forgetpassword_id").attr("style","display:none");
    }
</script>