<div class="container-wrap">

    <div class="main-content container-boxed max offset">

        <div class="row">

            <div class="noo-main col-md-12  noo-page" role="main">
                <!-- Begin The loop -->
                <h1 class="page-title">Thanks your intrest in the A2Z Property, .</h1>
                <h5>Our Executive will contact you soon....</h5>
                <div class="woocommerce">
                    <div class="woocommerce-notices-wrapper"></div>
                    <form class="woocommerce-cart-form" action="http://wp.nootheme.com/citilights/cart/" method="post">

                        <table class="shop_table shop_table_responsive cart woocommerce-cart-form__contents" cellspacing="0">
                            <thead>
                                <tr>
                                    <th class="product-remove">&nbsp;</th>
                                    <th class="product-thumbnail">&nbsp;</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Subtotal</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr class="woocommerce-cart-form__cart-item cart_item">

                                    <td class="product-remove">
                                        <a href="http://wp.nootheme.com/citilights/cart/?remove_item=800d7c5998783ff37a6125f825db6247&#038;_wpnonce=5d3f30e4f3" class="remove" aria-label="Remove this item" data-product_id="11650" data-product_sku="">&times;</a>
                                    </td>

                                    <td class="product-thumbnail">
                                        <a href="http://wp.nootheme.com/citilights/product/basic-plan/"><img width="300" height="300" src="http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder.png" class="woocommerce-placeholder wp-post-image" alt="Placeholder" loading="lazy" srcset="http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder.png 1200w, http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder-450x450.png 450w, http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder-768x768.png 768w, http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder-500x500.png 500w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                    </td>

                                    <td class="product-name" data-title="Product">
                                        <a href="http://wp.nootheme.com/citilights/product/basic-plan/">Basic Plan</a>
                                    </td>

                                    <td class="product-price" data-title="Price">
                                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#82;</span>19.00</span>
                                    </td>

                                    <td class="product-quantity" data-title="Quantity">
                                        <div class="quantity">
                                            <label class="screen-reader-text" for="quantity_61486c45396bd">Basic Plan quantity</label>
                                            <input type="number"
                                                   id="quantity_61486c45396bd"
                                                   class="input-text qty text"
                                                   step="1"
                                                   min="0"
                                                   max=""
                                                   name="cart[800d7c5998783ff37a6125f825db6247][qty]"
                                                   value="1"
                                                   title="Qty"
                                                   size="4"
                                                   inputmode="numeric" />
                                        </div>
                                    </td>

                                    <td class="product-subtotal" data-title="Subtotal">
                                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#82;</span>19.00</span>
                                    </td>
                                </tr>
                                <tr class="woocommerce-cart-form__cart-item cart_item">

                                    <td class="product-remove">
                                        <a href="http://wp.nootheme.com/citilights/cart/?remove_item=3d017ba05931017b15345e3ae2c73cd0&#038;_wpnonce=5d3f30e4f3" class="remove" aria-label="Remove this item" data-product_id="8656" data-product_sku="">&times;</a>
                                    </td>

                                    <td class="product-thumbnail">
                                        <a href="http://wp.nootheme.com/citilights/product/curabitur-non/"><img width="300" height="300" src="http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder.png" class="woocommerce-placeholder wp-post-image" alt="Placeholder" loading="lazy" srcset="http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder.png 1200w, http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder-450x450.png 450w, http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder-768x768.png 768w, http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder-500x500.png 500w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                    </td>

                                    <td class="product-name" data-title="Product">
                                        <a href="http://wp.nootheme.com/citilights/product/curabitur-non/">Curabitur non</a>
                                    </td>

                                    <td class="product-price" data-title="Price">
                                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#82;</span>22.00</span>
                                    </td>

                                    <td class="product-quantity" data-title="Quantity">
                                        <div class="quantity">
                                            <label class="screen-reader-text" for="quantity_61486c4539a2e">Curabitur non quantity</label>
                                            <input type="number"
                                                   id="quantity_61486c4539a2e"
                                                   class="input-text qty text"
                                                   step="1"
                                                   min="0"
                                                   max=""
                                                   name="cart[3d017ba05931017b15345e3ae2c73cd0][qty]"
                                                   value="1"
                                                   title="Qty"
                                                   size="4"
                                                   inputmode="numeric" />
                                        </div>
                                    </td>

                                    <td class="product-subtotal" data-title="Subtotal">
                                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#82;</span>22.00</span>
                                    </td>
                                </tr>
                                <tr class="woocommerce-cart-form__cart-item cart_item">

                                    <td class="product-remove">
                                        <a href="http://wp.nootheme.com/citilights/cart/?remove_item=db64f68dee27eb08d29117c7da678f81&#038;_wpnonce=5d3f30e4f3" class="remove" aria-label="Remove this item" data-product_id="8679" data-product_sku="">&times;</a>
                                    </td>

                                    <td class="product-thumbnail">
                                        <a href="http://wp.nootheme.com/citilights/product/donec-cursus/"><img width="300" height="300" src="http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder.png" class="woocommerce-placeholder wp-post-image" alt="Placeholder" loading="lazy" srcset="http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder.png 1200w, http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder-450x450.png 450w, http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder-768x768.png 768w, http://wp.nootheme.com/citilights/wp-content/uploads/woocommerce-placeholder-500x500.png 500w" sizes="(max-width: 300px) 100vw, 300px" /></a>
                                    </td>

                                    <td class="product-name" data-title="Product">
                                        <a href="http://wp.nootheme.com/citilights/product/donec-cursus/">Donec cursus</a>
                                    </td>

                                    <td class="product-price" data-title="Price">
                                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#82;</span>15.00</span>
                                    </td>

                                    <td class="product-quantity" data-title="Quantity">
                                        <div class="quantity">
                                            <label class="screen-reader-text" for="quantity_61486c4539d41">Donec cursus quantity</label>
                                            <input type="number"
                                                   id="quantity_61486c4539d41"
                                                   class="input-text qty text"
                                                   step="1"
                                                   min="0"
                                                   max=""
                                                   name="cart[db64f68dee27eb08d29117c7da678f81][qty]"
                                                   value="1"
                                                   title="Qty"
                                                   size="4"
                                                   inputmode="numeric" />
                                        </div>
                                    </td>

                                    <td class="product-subtotal" data-title="Subtotal">
                                        <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#82;</span>15.00</span>
                                    </td>
                                </tr>


                                <tr>
                                    <td colspan="6" class="actions">

                                        <div class="coupon">
                                            <label for="coupon_code">Coupon:</label> <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code" /> <button type="submit" class="button" name="apply_coupon" value="Apply coupon">Apply coupon</button>
                                        </div>

                                        <button type="submit" class="button" name="update_cart" value="Update cart">Update cart</button>


                                        <input type="hidden" id="woocommerce-cart-nonce" name="woocommerce-cart-nonce" value="5d3f30e4f3" /><input type="hidden" name="_wp_http_referer" value="/citilights/cart/" />
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </form>
                </div>
                <!-- End The loop -->
            </div> <!-- /.main -->
        </div><!--/.row-->
    </div><!--/.container-boxed-->
</div>