<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @ViewData["Header"]
            <small> @ViewData["Header"] Details</small>
        </h1>
    </section>
    <section class="content" id="divContent">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <button class="btn btn-primary" id="btnRentResidential" onclick="RentResidential(this)">
                            <i class="fa fa-home">&nbsp;Rent Residential</i>
                        </button>
                        <button class="btn btn-primary" id="btnSellResidential" onclick="SellResidential(this)">
                            <i class="fa fa-building">&nbsp;Sell Residential</i>
                        </button>
                        <button class="btn btn-primary" id="btnRentCommercial" onclick="RentCommercial(this)">
                            <i class="fa fa-home">&nbsp;Rent Commercial</i>
                        </button>
                        <button class="btn btn-primary" id="btnSellCommercial" onclick="SellCommercial(this)">
                            <i class="fa fa-building">&nbsp;Sell Commercial</i>
                        </button>
                        <button class="btn btn-primary pull-right" id="btnSellCommercial" onclick="GetDetails()">
                            <i class="fa fa-list">&nbsp;Details</i>
                        </button>
                        <hr>
                    </div>

                    <div class="box-body">
                       
                        <div id="divData"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<environment include="Production">
    <script src="~/CustomJavaScript/PropertyDetail.js"></script>
</environment>
<environment include="Development">
    <script src="~/CustomJavaScript/PropertyDetail.js"></script>
</environment>

