
@{
    ViewData["Title"] = "Bath Room Master";
}
<div class="content-wrapper">

    <section class="content-header">
        <h1>
            @ViewData["Header"]
            <small> @ViewData["Header"] Details</small>
        </h1>
    </section>
    <section class="content" id="divContent">
        <div class="row">
            <div class="col-md-8">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Bath Room Master Details</h3>
                        <button class="btn btn-primary pull-right" onclick="Create()">
                            <i class="fa fa-plus">&nbsp;Add</i>
                        </button>
                    </div>

                    <div class="box-body">
                        <div id="divData"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                @await Component.InvokeAsync("Filter")
            </div>
        </div>
    </section>
</div>

<environment include="Production">
    <script src="~/CustomJavaScript/BathRoom.js"></script>
</environment>
<environment include="Development">
    <script src="~/CustomJavaScript/BathRoom.js"></script>
</environment>

