@model A2ZPortal.Core.Entities.Master.Contact
<style type="text/css" data-type="vc_custom-css">
    .contact-info li {
        margin-bottom: 1em;
    }
</style>
<div class="container-wrap">
    <div class="main-content container-boxed max offset">
        <div class="row">
            <div class="noo-main col-md-12 right-sidebar  noo-page" role="main">

                <div class="noo-vc-row row " style=" padding-top: 0px; padding-bottom: 20px;">
                    <div class="noo-vc-col col-md-12 ">
                        <div class="noo-vc-row row " style="">
                            <div class="noo-vc-col col-md-12 ">
                                <div class="noo-text-block">
                                    <h4 style="font-weight: 900; padding-bottom: 30px; margin-top: 10px; font-size: 24px;">CONTACT US</h4>
                                </div><div class="noo-gmaps">
                                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3021.995077478525!2d-73.959878!3d40.762133000000006!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258e803893377%3A0xc4f699bee50530bb!2sBaker+Street!5e0!3m2!1svi!2s!4v1406001908080" width="600" height="400" frameborder="0" style="border:0"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="noo-vc-row row contact-form" style=" padding-top: 50px; padding-bottom: 20px;margin-top: 50px; ">
                            <div class="noo-vc-col contact-info col-md-4 col-sm-6 ">
                                <div class="noo-text-block">
                                    <h4 style="font-weight: 300; font-size: 24px; margin-bottom: 30px;">Contact Info</h4>
                                </div><div class="noo-text-block">
                                    <ul>
                                        <li><b>Address</b>376 Baker Str., NYC</li>
                                        <li><b>Phone</b> (+971)-562162833</li>
                                        <li><b>Email</b><a href="mailto://pritam.maity@a2zproperties.ae"> pritam.maity@a2zproperties.ae</a></li>
                                        <li><b>Fax</b>(+01)-111-1111</li>
                                        <li><b>Website</b>http://klbs.in</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="noo-vc-col contact-desc col-md-8 col-sm-12 " style="padding-left: 30px;">
                                <div class="noo-text-block">
                                    <h4 style="font-weight: 300; font-size: 24px; margin-bottom: 30px;">Drop Us A Line</h4>
                                    <p>If you have any problems, please use the form below to leave us your questions. We will reply you as soon as possible. Thank you!</p>
                                </div><hr class="noo-gap" style=" margin: 30px 0 0 0;"><div role="form" class="wpcf7" id="wpcf7-f5919-p3296-o1" lang="en-US" dir="ltr">
                                    <div class="screen-reader-response"></div>
                                    <form asp-action="CreateContact" asp-controller="ContactUs" method="post" class="wpcf7-form">

                                        <p>
                                            <span class="wpcf7-form-control-wrap your-name">
                                                <input type="text" asp-for="Name" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" placeholder="Your Name*" />
                                                <span asp-validation-for="Name" class="text-danger"></span>

                                            </span>
                                        </p>
                                        <p>
                                            <span class="wpcf7-form-control-wrap your-email">
                                                <input type="email" asp-for="EmailId" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" placeholder="Your Email*" />
                                                <span asp-validation-for="EmailId" class="text-danger"></span>
                                            </span>
                                        </p>
                                        <p>
                                            <span class="wpcf7-form-control-wrap your-subject">
                                                <input type="text" asp-for="Subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" placeholder="Subject" />
                                                <span asp-validation-for="Subject" class="text-danger"></span>
                                            </span>
                                        </p>
                                        <p>
                                            <input type="hidden" asp-for="ReturnUrl" />
                                            <span class="wpcf7-form-control-wrap your-message">
                                                <textarea asp-for="Message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required" placeholder="Your Message"></textarea>
                                                <span asp-validation-for="Message" class="text-danger"></span>
                                            </span>
                                        </p>
                                        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                        {
                                            <div class="wpcf7-response-output vc_btn-green vc_pull-right text-right ">@Model.ErrorMessage</div>
                                        }
                                        <br />
                                        <p><input type="submit" value="SEND MESSAGE" class="wpcf7-form-control wpcf7-submit" onclick="return SubmitContact();" /></p>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
