@model A2ZPortal.Core.Entities.Master.Contact

<section class="contact-img text-center">
    <div class="container">
        <div class="pt-5">
            <h1 class="white pt-50">
                Contact Us</h2>
                <h3 class="white">We offer unique properties<br>suitable for any need.</h3>
        </div>
    </div>
</section>
<section>
    <div class="contact-box container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <div class="row">
                    <div class="col-2">
                        <i class="fa fa-home fa-3x"></i>
                    </div>
                    <div class="col-10">
                        <h5>Address:</h5>
                        <p>Office 502, Aspect Tower, Business Bay, Dubai, UAE</p>
                    </div>
                    <div class="col-2">
                        <i class="fa fa-phone fa-2x"></i>
                    </div>
                    <div class="col-10 mt-1">
                        <p>Phone: <a href="tel:+971 4 430 6933">+971 4 430 6933</a></p>
                    </div>
                    <div class="col-2">
                        <i class="fa fa-envelope fa-2x"></i>
                    </div>
                    <div class="col-10 mt-1">
                        <p>Email: <a href="mailto:info@a2zproperties.ae">info@a2zproperties.ae</a></p>
                    </div>
                    <div class="col-12 mt-5">
                        <a href="https://www.facebook.com/a2zproperties.ae" class="mr-3 btn btn-success"><i class="fa fa-facebook fa-2x"></i></a>
                        <a href="https://www.youtube.com/channel/UCxRQ1ukVeC7xKgJPBK5fPFg" class="mr-3 btn btn-success"><i class="fa fa-youtube fa-2x"></i></a>
                        <a href="https://www.linkedin.com/company/a2z-propertiesllc/" class="mr-3 btn btn-success"><i class="fa fa-linkedin fa-2x"></i></a>
                        <a href="https://www.instagram.com/a2zprop/" class="mr-3 btn btn-success"><i class="fa fa-instagram fa-2x"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5">
                @if (!string.IsNullOrEmpty(ViewData["ErrorMessage"].ToString()))
                {<div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4><i class="icon fa fa-check"></i> Alert!</h4>
                        @ViewData["ErrorMessage"]
                    </div>

                }
                <form asp-action="Index" asp-controller="ContactUs" method="post" class="wpcf7-form">
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="FirstName" placeholder="First Name">
                        <span id="Span_FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="LastName" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="EmailId" placeholder="Email">
                        <span id="Span_EmailId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" asp-for="PhoneNumber" placeholder="Phone">
                        <span id="Span_PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="Country" placeholder="Country">
                        <span id="Span_Country" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="4" asp-for="Message" placeholder="Message"></textarea>
                        <span id="Span_Message" class="text-danger"></span>
                    </div>


                    <button class="btn btn-success mb-3" onclick="return SubmitContact();">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>

 <script>
    function SubmitContact() {
        debugger;
        var FirstName = $("#FirstName").val();
        var EmailId = $("#EmailId").val();
        var PhoneNumber = $("#PhoneNumber").val();
        var Country = $("#Country").val();
        var Message = $("#Message").val();


        if (FirstName == "") {
            $("#Span_FirstName").text("this field is required");
            $('#FirstName').css('border-color', 'Red');
            $('#FirstName').focus();
            return false;
        }
        else {
            $("#Span_FirstName").text('');
            $('#FirstName').css('border-color', '');
        }
        if (EmailId == "") {
            $("#Span_EmailId").text("this field is required");
            $('#EmailId').css('border-color', 'Red');
            $('#EmailId').focus();
            return false;
        }
        else {
            if (/^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(EmailId)) {
                $("#Span_EmailId").text('');
                $('#EmailId').css('border-color', '');

            }
            else {
                $("#Span_EmailId").text("invalid email id..");
                $('#EmailId').css('border-color', 'Red');
                $('#EmailId').focus();
                return false;
            }

        }
        if (PhoneNumber == "") {
            $("#Span_PhoneNumber").text("this field is required");
            $('#PhoneNumber').css('border-color', 'Red');
            $('#PhoneNumber').focus();
            return false;
        }
        else {
            $("#Span_PhoneNumber").text('');
            $('#PhoneNumber').css('border-color', '');
        }
        if (Country == "") {
            $("#Span_Country").text("this field is required");
            $('#Country').css('border-color', 'Red');
            $('#Country').focus();
            return false;
        }
        else {
            $("#Span_Country").text('');
            $('#Country').css('border-color', '');
        }
        if (Message == "") {
            $("#Span_Message").text("this field is required");
            $('#Message').css('border-color', 'Red');
            $('#Message').focus();
            return false;
        }
        else {
            $("#Span_Message").text('');
            $('#Message').css('border-color', '');
            $('.wpcf7-form').submit();

        }

    }
</script>