@model A2ZPortal.Core.Entities.Master.Contact

<section class="about">
    <div class="bg-bar">
        <div class="container">
            <h6>Home / About Us</h6>
        </div>
    </div>
    <div class="container mt-5 text-center">
        <h1>About Us</h1>
            <div class="row">
                <div class="col-md-6 offset-md-3 mt-5">
                    <p>A2Z PROPERTIES L.L.C is one of the UAE’s leading brokerage firms, offering a complete property experience. We work in pursuit of service excellence and we are committed in every area of the real estate industry. Offering a premium, professional and flexible service to customers. A2Z PROPERTIES L.L.C provides an extensive list of properties for sale and lease and this is complemented by a full property management list of services.</p>
                </div>
            </div>
    </div>
    <div class="bg-about mt-5">
        <div class="container">
            <h3 class="white pt-5">Our Services</h3>
            <div class="row">
                <div class="col-md-6 col-xl-3 mt-5">
                    <div class="bg-white p-5">
                        <h4>Residental Properties</h4>
                        <p>Find the perfect house that fits your requirements through our team of experienced agents.</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 mt-5">
                    <div class="bg-white p-5">
                        <h4> Commercial Properties</h4>
                        <p>Offices, commercial freehold and leasehold lands, warehouses</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 mt-5">
                    <div class="bg-white p-5">
                        <h4>Developer Properties</h4>
                        <p>We work with Dubai’s most established developers to provide you with a chance to be early on the latest upcoming investment opportunities in the UAE</p>
                    </div>
                </div>
                <div class="col-md-6 col-xl-3 mt-5">
                    <div class="bg-white p-5">
                        <h4>Investment Portfolios</h4>
                        <p>Our team of experienced agents helps you to pick the best investment avenues to add to your current portfolio </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 