@{
   
}

<div class="container-wrap">
    <div class="main-content container-boxed max offset">
        <div class="row">
            <div class="noo-main col-md-8 right-sidebar" role="main">
                <article id="post-6280" class="noo-agent">
                    <h1 class="content-title agent-name">
                        Stacy Barron
                    </h1>
                    <div class="agent-social clearfix">
                        <a class="fa fa-facebook" href="#"></a><a class="fa fa-twitter" href="#"></a><a class="fa fa-pinterest" href="#"></a><a class="fa fa-linkedin" href="#"></a><a class="fa fa-google-plus" href="#"></a>
                    </div>
                    <div class="agent-info">
                        <div class="content-featured">
                            <div class="content-thumb">
                                <img src="http://wp.nootheme.com/citilights/wp-content/uploads/2014/09/agent-3.png" alt="Stacy Barron" />
                            </div>
                        </div>
                        <div class="agent-detail">
                            <h4 class="agent-detail-title">Contact Info</h4>
                            <div class="agent-detail-info">

                                <div class="agent-position">
                                    <i class="fa fa-user"></i><span class='label-_noo_agent_position '>Position:</span> Real Estate broker
                                </div>

                                <div class="agent-position">
                                    <i class="fa fa-user"></i><span class='label-_noo_agent_position '>Position:</span> Real Estate broker
                                </div>
                                <div class="agent-phone">
                                    <i class="fa fa-phone"></i><span class='label-_noo_agent_phone '>Phone:</span> (401) 749624
                                </div>
                                <div class="agent-mobile">
                                    <i class="fa fa-tablet"></i><span class='label-_noo_agent_mobile '>Mobile:</span> (213) 759374
                                </div>
                                <div class="agent-skype">
                                    <i class="fa fa-skype"></i><span class='label-_noo_agent_skype '>Skype:</span> stacybroker01
                                </div>
                            </div>
                            <div class="agent-desc">
                                <h4 class="agent-detail-title">About Me</h4>
                                <p>Stacy is a long time resident and successful broker in the Lincoln Center area. Never far from home, sheis intimately acquainted with each block of this extraordinary neighborhood. With the experience of selling thousands of apartments in buildings all over the area, Stacy has the knowledge and expertise to take the stress out of the buying and selling process.</p>
                                <p>Stacy has instant access to thousands of Manhattan brokers. Each of her listings is given the maximum exposure available on the Internet and in print media. Over 1 Million visitors a month go directly to www.Halstead.com and 100,000 hits a day are directed to us from the NYTimes.com. Stacy continually gives the best that this competitive market has to offer.</p>
                                <p>Throughout her years of continued success in real estate, she has established and maintained a vast network of Manhattan bound professionals. Shetruly understands the intricate process of buying or selling on the Upper West Side. Her commitment to excellence and professionalism combined with her calming personality and knowledge have made Stacy Barron true success story.</p>
                                <p>The word professionalism stands out in every letter of recommendation &#8211; and that seems to say it all.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="conact-agent row">
                        <h2 class="content-title col-md-12">
                            Contact Me
                        </h2>
                        <form role="form" id="conactagentform" method="post">
                            <div style="display: none;">
                                <input type="hidden" name="action" value="noo_contact_agent">
                                <input type="hidden" name="agent_id" value="6280">
                                <input type="hidden" name="security" value="a6ea2a9e2d">
                            </div>
                            <div class="form-group col-md-6 col-sm-6"><input type="text" name="name" class="form-control addclass" placeholder="Your Name *"></div><div class="form-group  col-md-6 col-sm-6"><input type="email" name="email" class="form-control addclass" placeholder="Your Email *"></div><div class="form-group message col-md-12 col-sm-12"><textarea name="message" class="form-control addclass" rows="5" placeholder="Message *"></textarea></div><div class="form-group col-md-12 col-sm-12"><div class="g-recaptcha addclass" data-sitekey=""></div></div>
                            <script data-cfasync="false" src="http://wp.nootheme.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                            <script src="https://www.google.com/recaptcha/api.js" async defer></script>
                            <div class="form-action col-md-12 col-sm-12">
                                <img class="ajax-loader" src="http://wp.nootheme.com/citilights/wp-content/themes/noo-citilights/assets/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;">
                                <button type="submit" class="btn btn-default">Send Me</button>
                            </div>
                        </form>
                    </div>
                    <div class="agent-properties" data-agent-id="6280">
                        <div class="properties grid" data-paginate="loadmore">
                            <div class="properties-header">
                                <h1 class="page-title">My Properties</h1>
                                <div class="properties-toolbar">
                                    <a class="selected" data-mode="grid" href="http://wp.nootheme.com/citilights/agents/stacy-barron/?mode=grid" title="Grid"><i class="fa fa-th-large"></i></a>
                                    <a class="" data-mode="list" href="http://wp.nootheme.com/citilights/agents/stacy-barron/?mode=list" title="List"><i class="fa fa-list"></i></a>
                                </div>
                            </div>
                            <div class="noo-property-compare">
                                <form style="display: none" method="POST" action="http://wp.nootheme.com/citilights/compare-listings/" class="submit-compare-612a03b8af365">
                                    <h3 class="title-compare">
                                        Compare properties
                                    </h3>
                                    <div class="list-compare"></div>
                                    <input type="submit" name="submit-compare" value="Compare" />
                                </form>
                            </div>
                            <div class="properties-content loadmore-wrap">
                                <article id="property-6409" class="post-6409 noo_property type-noo_property status-publish has-post-thumbnail hentry property_location-chicago property_location-london property_sub_location-queens property_sub_location-staten-island property_status-open-house property_status-rents has-featured featured-property">
                                    <div class="property-featured">
                                        <span class="featured"><i class="fa fa-star"></i></span>
                                        <a class="content-thumb xx" href="http://wp.nootheme.com/citilights/properties/225-e-36th-st-20d/">
                                            <img width="370" height="300" src="http://wp.nootheme.com/citilights/wp-content/uploads/2014/08/room-of-small-luxurious-house-in-swiss-style-decoration-designer-idea-for-small-living-areas-370x300.jpg" class="attachment-property-thumb size-property-thumb wp-post-image" alt="" loading="lazy" />
                                        </a>
                                        <span class="property-label sold">Open house</span>
                                        <a class="out-link" title="" href="http://wp.nootheme.com/citilights/properties/225-e-36th-st-20d/">
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="property-wrap">
                                        <h2 class="property-title">
                                            <a href="http://wp.nootheme.com/citilights/properties/225-e-36th-st-20d/" title="Permanent link to: &quot;225 E 36th St #20D&quot;">225 E 36th St #20D</a>
                                        </h2>
                                        <div class="property-excerpt">
                                            <p>Turn Key sleep alcove studio in triple mint condition. Located on high floor with great...</p><p class="property-fullwidth-excerpt">Turn Key sleep alcove studio in triple mint condition. Located on high floor with great unobstructed Southern Expo. This is the perfect home for the...</p>
                                        </div>
                                        <div class="property-summary">
                                            <div class="property-detail">
                                                <div class="area"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/size-icon_ccd251439ef2512942b64d525ced79fe.png);"></span><span class="property-meta">550 sqft</span></div>
                                                <div class="bedrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bedroom-icon_92be012355310366e0bf07c8a41e35fe.png);"></span><span class="property-meta">2</span></div>
                                                <div class="bathrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bathroom-icon_ffc5ba8874014ad0a7fcc5aa3b8acd57.png);"></span><span class="property-meta">1</span></div>
                                            </div> <div class="property-info style-1">
                                                <div class="property-price">
                                                    <span> <span class="amount">&#36;389,000</span> </span>
                                                </div>
                                                <div class="property-sharing sharing612a03b8b0043">
                                                    <div class="property-share hidden-print clearfix">
                                                        <a href="#share" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" class="fa fa-facebook" title="Share on Facebook" onclick="window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2F225-e-36th-st-20d%2F&amp;t=225+E+36th+St+%2320D','popupFacebook','width=650,height=270,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-twitter" title="Share on Twitter" onclick="window.open('https://twitter.com/intent/tweet?text=225+E+36th+St+%2320D&amp;url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2F225-e-36th-st-20d%2F','popupTwitter','width=500,height=370,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-google-plus" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2F225-e-36th-st-20d%2F','popupGooglePlus','width=650,height=226,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-pinterest" title="Share on Pinterest" onclick="window.open('http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2F225-e-36th-st-20d%2F&amp;media=http://wp.nootheme.com/citilights/wp-content/uploads/2014/08/room-of-small-luxurious-house-in-swiss-style-decoration-designer-idea-for-small-living-areas-370x300.jpg&amp;description=225+E+36th+St+%2320D','popupPinterest','width=750,height=265,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-linkedin" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2F225-e-36th-st-20d%2F&amp;title=225+E+36th+St+%2320D&amp;summary=Turn+Key+sleep+alcove+studio+in+triple+mint+condition.+Located+on+high+floor+w%3Cwbr+%2F%3Eith+great+unobstructed+Southern+Expo.+This+is+the+perfect+home+for+the+first+time+buyer+or+as+Pied+a+terre.+Building+is+full+service+and+features%3A+garage%2C+storage%2C+roof+deck%2C+central+laundry%2C+central+air+%28+included+in+maintenance+%29.+Co-purchasing+allowed+on+a+case+by+case+basis+.+Pets+OK.+A+must+see%21%21&amp;source=CitiLights','popupLinkedIn','width=610,height=480,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="property-action">
                                                    <i title="Compare" data-user="0" data-id="6409" data-action="compare" data-thumbnail="http://wp.nootheme.com/citilights/wp-content/uploads/2014/08/room-of-small-luxurious-house-in-swiss-style-decoration-designer-idea-for-small-living-areas-180x130.jpg" data-div="submit-compare-612a03b8af365" class="property-action-button fa fa-plus compare-6409" aria-hidden="true"></i>
                                                    <i title="Add to favorites" data-user="0" data-id="6409" data-action="favorites" data-status="add_favorites" data-url="http://wp.nootheme.com/citilights/my-favorites/" class="property-action-button fa fa-heart-o" aria-hidden="true"></i>
                                                    <i title="Share" data-user="0" data-id="6409" data-action="sharing" data-class="sharing612a03b8b0043" class="property-action-button fa fa-share-alt" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="property-info property-fullwidth-info">
                                                <div class="property-price">
                                                    <span> <span class="amount">&#36;389,000</span> </span>
                                                </div>
                                                <div class="area"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/size-icon_ccd251439ef2512942b64d525ced79fe.png);"></span><span class="property-meta">550 sqft</span></div>
                                                <div class="bedrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bedroom-icon_92be012355310366e0bf07c8a41e35fe.png);"></span><span class="property-meta">2</span></div>
                                                <div class="bathrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bathroom-icon_ffc5ba8874014ad0a7fcc5aa3b8acd57.png);"></span><span class="property-meta">1</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="property-action property-fullwidth-action">
                                        <a href="http://wp.nootheme.com/citilights/properties/225-e-36th-st-20d/">More Details</a>
                                    </div>
                                </article>
                                <article id="property-6350" class="post-6350 noo_property type-noo_property status-publish has-post-thumbnail hentry property_category-single-family-home property_location-london property_location-new-york-3 property_sub_location-staten-island property_status-rents property_status-sold has-featured">
                                    <div class="property-featured">
                                        <a class="content-thumb xx" href="http://wp.nootheme.com/citilights/properties/oaklandca94605/">
                                            <img width="370" height="300" src="http://wp.nootheme.com/citilights/wp-content/uploads/2014/09/interior-design-schools-370x300.jpg" class="attachment-property-thumb size-property-thumb wp-post-image" alt="" loading="lazy" />
                                        </a>
                                        <span class="property-label sold">Rent</span>
                                        <span class="property-category"><a href="http://wp.nootheme.com/citilights/listings/single-family-home/" rel="tag">Single Family Home</a></span>
                                        <a class="out-link" title="" href="http://wp.nootheme.com/citilights/properties/oaklandca94605/">
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="property-wrap">
                                        <h2 class="property-title">
                                            <a href="http://wp.nootheme.com/citilights/properties/oaklandca94605/" title="Permanent link to: &quot;Oakland, NJ94605&quot;">Oakland, NJ94605</a>
                                        </h2>
                                        <div class="property-excerpt">
                                            <p>When the sellers bought this home in 2001 they delighted in the big things: the...</p><p class="property-fullwidth-excerpt">When the sellers bought this home in 2001 they delighted in the big things: the first level &#8220;great room&#8221;, lower level &#8220;family room&#8221;, wide Bay...</p>
                                        </div>
                                        <div class="property-summary">
                                            <div class="property-detail">
                                                <div class="area"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/size-icon_ccd251439ef2512942b64d525ced79fe.png);"></span><span class="property-meta">2,568 sqft</span></div>
                                                <div class="bedrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bedroom-icon_92be012355310366e0bf07c8a41e35fe.png);"></span><span class="property-meta">4</span></div>
                                                <div class="bathrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bathroom-icon_ffc5ba8874014ad0a7fcc5aa3b8acd57.png);"></span><span class="property-meta">2</span></div>
                                            </div> <div class="property-info style-1">
                                                <div class="property-price">
                                                    <span> <span class="amount">&#36;335,000</span> </span>
                                                </div>
                                                <div class="property-sharing sharing612a03b8b0cec">
                                                    <div class="property-share hidden-print clearfix">
                                                        <a href="#share" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" class="fa fa-facebook" title="Share on Facebook" onclick="window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Foaklandca94605%2F&amp;t=Oakland%2C+NJ94605','popupFacebook','width=650,height=270,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-twitter" title="Share on Twitter" onclick="window.open('https://twitter.com/intent/tweet?text=Oakland%2C+NJ94605&amp;url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Foaklandca94605%2F','popupTwitter','width=500,height=370,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-google-plus" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Foaklandca94605%2F','popupGooglePlus','width=650,height=226,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-pinterest" title="Share on Pinterest" onclick="window.open('http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Foaklandca94605%2F&amp;media=http://wp.nootheme.com/citilights/wp-content/uploads/2014/09/interior-design-schools-370x300.jpg&amp;description=Oakland%2C+NJ94605','popupPinterest','width=750,height=265,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-linkedin" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Foaklandca94605%2F&amp;title=Oakland%2C+NJ94605&amp;summary=When+the+sellers+bought+this+home+in+2001+they+delighted+in+the+big+things%3A+th%3Cwbr+%2F%3Ee+first+level+%22great+room%22%2C+lower+level+%22family+room%22%2C+wide+Bay+view%2C+huge+lot%2C+large+deck%2C+and+a+flood+of+light.+It+has+been+a+home+for+big+gatherings+of+heartfelt+joy.+Now+it+can+be+yours.+And+it%27s+a+big+bargain.+Smaller+homes+in+the+area+have+been+selling+for+over+%24400%2C000.+What+is+your+big+plan+for+your+first+or+next+home%3F&amp;source=CitiLights','popupLinkedIn','width=610,height=480,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="property-action">
                                                    <i title="Compare" data-user="0" data-id="6350" data-action="compare" data-thumbnail="http://wp.nootheme.com/citilights/wp-content/uploads/2014/09/interior-design-schools-180x130.jpg" data-div="submit-compare-612a03b8af365" class="property-action-button fa fa-plus compare-6350" aria-hidden="true"></i>
                                                    <i title="Add to favorites" data-user="0" data-id="6350" data-action="favorites" data-status="add_favorites" data-url="http://wp.nootheme.com/citilights/my-favorites/" class="property-action-button fa fa-heart-o" aria-hidden="true"></i>
                                                    <i title="Share" data-user="0" data-id="6350" data-action="sharing" data-class="sharing612a03b8b0cec" class="property-action-button fa fa-share-alt" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="property-info property-fullwidth-info">
                                                <div class="property-price">
                                                    <span> <span class="amount">&#36;335,000</span> </span>
                                                </div>
                                                <div class="area"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/size-icon_ccd251439ef2512942b64d525ced79fe.png);"></span><span class="property-meta">2,568 sqft</span></div>
                                                <div class="bedrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bedroom-icon_92be012355310366e0bf07c8a41e35fe.png);"></span><span class="property-meta">4</span></div>
                                                <div class="bathrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bathroom-icon_ffc5ba8874014ad0a7fcc5aa3b8acd57.png);"></span><span class="property-meta">2</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="property-action property-fullwidth-action">
                                        <a href="http://wp.nootheme.com/citilights/properties/oaklandca94605/">More Details</a>
                                    </div>
                                </article>
                                <article id="property-6118" class="post-6118 noo_property type-noo_property status-publish has-post-thumbnail hentry property_category-coop property_location-los-angeles property_location-new-york-3 property_sub_location-the-bronx property_status-rents has-featured">
                                    <div class="property-featured">
                                        <a class="content-thumb xx" href="http://wp.nootheme.com/citilights/properties/blandit-fringilla-tortor/">
                                            <img width="370" height="300" src="http://wp.nootheme.com/citilights/wp-content/uploads/2014/09/Beautiful-Houses-Week_42-Becherer-House-by-Robert-M.-Gurney-Architect_02-@@-GenCept-370x300.jpg" class="attachment-property-thumb size-property-thumb wp-post-image" alt="" loading="lazy" />
                                        </a>
                                        <span class="property-label sold">Rent</span>
                                        <span class="property-category"><a href="http://wp.nootheme.com/citilights/listings/coop/" rel="tag">Co-op</a></span>
                                        <a class="out-link" title="" href="http://wp.nootheme.com/citilights/properties/blandit-fringilla-tortor/">
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="property-wrap">
                                        <h2 class="property-title">
                                            <a href="http://wp.nootheme.com/citilights/properties/blandit-fringilla-tortor/" title="Permanent link to: &quot;225 E 79th St #7C&quot;">225 E 79th St #7C</a>
                                        </h2>
                                        <div class="property-excerpt">
                                            <p>Fabulous alcove studio with loads of charm in a prewar upper east side doorman building....</p><p class="property-fullwidth-excerpt">Fabulous alcove studio with loads of charm in a prewar upper east side doorman building. Brand new kitchen, just painted, alcove is large enough for...</p>
                                        </div>
                                        <div class="property-summary">
                                            <div class="property-detail">
                                                <div class="area"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/size-icon_ccd251439ef2512942b64d525ced79fe.png);"></span><span class="property-meta">500 sqft</span></div>
                                                <div class="bedrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bedroom-icon_92be012355310366e0bf07c8a41e35fe.png);"></span><span class="property-meta">2</span></div>
                                                <div class="bathrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bathroom-icon_ffc5ba8874014ad0a7fcc5aa3b8acd57.png);"></span><span class="property-meta">1</span></div>
                                            </div> <div class="property-info style-1">
                                                <div class="property-price">
                                                    <span> <span class="amount">&#36;290,000</span> </span>
                                                </div>
                                                <div class="property-sharing sharing612a03b8b18df">
                                                    <div class="property-share hidden-print clearfix">
                                                        <a href="#share" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" class="fa fa-facebook" title="Share on Facebook" onclick="window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Fblandit-fringilla-tortor%2F&amp;t=225+E+79th+St+%237C','popupFacebook','width=650,height=270,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-twitter" title="Share on Twitter" onclick="window.open('https://twitter.com/intent/tweet?text=225+E+79th+St+%237C&amp;url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Fblandit-fringilla-tortor%2F','popupTwitter','width=500,height=370,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-google-plus" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Fblandit-fringilla-tortor%2F','popupGooglePlus','width=650,height=226,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-pinterest" title="Share on Pinterest" onclick="window.open('http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Fblandit-fringilla-tortor%2F&amp;media=http://wp.nootheme.com/citilights/wp-content/uploads/2014/09/Beautiful-Houses-Week_42-Becherer-House-by-Robert-M.-Gurney-Architect_02-@@-GenCept-370x300.jpg&amp;description=225+E+79th+St+%237C','popupPinterest','width=750,height=265,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-linkedin" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Fblandit-fringilla-tortor%2F&amp;title=225+E+79th+St+%237C&amp;summary=Fabulous+alcove+studio+with+loads+of+charm+in+a+prewar+upper+east+side+doorman+building.+Brand+new+kitchen%2C+just+painted%2C+alcove+is+large+enough+for+a+queen+bed+or+dining+table.+Large+dressing+room+seperates+the+living+area+from+the+bathroom+and+provides+lots+of+closet+room+plus+two+additional+closets+%21+Pets+under+15+pounds+allowed%2C+pied-a-terres+ok%2C+co-purchase+allowed.+Must+live+in+apartment+for+two+years+and+then+may+rent+for+three+years+during+ownership.+Other+Features%3A+Beamed+ceiling%2C+Floors+-+hardwood%0D%0A%0D%0A%3Cstrong%3EOpen+House%3C%2Fstrong%3E%0D%0ASunday+September+28+12%3A30pm+to+1%3A30pm&amp;source=CitiLights','popupLinkedIn','width=610,height=480,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="property-action">
                                                    <i title="Compare" data-user="0" data-id="6118" data-action="compare" data-thumbnail="http://wp.nootheme.com/citilights/wp-content/uploads/2014/09/Beautiful-Houses-Week_42-Becherer-House-by-Robert-M.-Gurney-Architect_02-@@-GenCept-180x130.jpg" data-div="submit-compare-612a03b8af365" class="property-action-button fa fa-plus compare-6118" aria-hidden="true"></i>
                                                    <i title="Add to favorites" data-user="0" data-id="6118" data-action="favorites" data-status="add_favorites" data-url="http://wp.nootheme.com/citilights/my-favorites/" class="property-action-button fa fa-heart-o" aria-hidden="true"></i>
                                                    <i title="Share" data-user="0" data-id="6118" data-action="sharing" data-class="sharing612a03b8b18df" class="property-action-button fa fa-share-alt" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="property-info property-fullwidth-info">
                                                <div class="property-price">
                                                    <span> <span class="amount">&#36;290,000</span> </span>
                                                </div>
                                                <div class="area"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/size-icon_ccd251439ef2512942b64d525ced79fe.png);"></span><span class="property-meta">500 sqft</span></div>
                                                <div class="bedrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bedroom-icon_92be012355310366e0bf07c8a41e35fe.png);"></span><span class="property-meta">2</span></div>
                                                <div class="bathrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bathroom-icon_ffc5ba8874014ad0a7fcc5aa3b8acd57.png);"></span><span class="property-meta">1</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="property-action property-fullwidth-action">
                                        <a href="http://wp.nootheme.com/citilights/properties/blandit-fringilla-tortor/">More Details</a>
                                    </div>
                                </article>
                                <article id="property-6341" class="post-6341 noo_property type-noo_property status-publish has-post-thumbnail hentry property_category-single-family-home property_location-california property_status-sales has-featured">
                                    <div class="property-featured">
                                        <a class="content-thumb xx" href="http://wp.nootheme.com/citilights/properties/visalia-ca-93277/">
                                            <img width="370" height="300" src="http://wp.nootheme.com/citilights/wp-content/uploads/2014/09/deluxe-interior-design-370x300.jpg" class="attachment-property-thumb size-property-thumb wp-post-image" alt="" loading="lazy" />
                                        </a>
                                        <span class="property-label sold">Sale</span>
                                        <span class="property-category"><a href="http://wp.nootheme.com/citilights/listings/single-family-home/" rel="tag">Single Family Home</a></span>
                                        <a class="out-link" title="" href="http://wp.nootheme.com/citilights/properties/visalia-ca-93277/">
                                            <i class="fa fa-link" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                    <div class="property-wrap">
                                        <h2 class="property-title">
                                            <a href="http://wp.nootheme.com/citilights/properties/visalia-ca-93277/" title="Permanent link to: &quot;Visalia, NJ 93277&quot;">Visalia, NJ 93277</a>
                                        </h2>
                                        <div class="property-excerpt">
                                            <p>This 4 bedroom home sits on an oversized lot at the end of a cul-de-sac...</p><p class="property-fullwidth-excerpt">This 4 bedroom home sits on an oversized lot at the end of a cul-de-sac in an established neighborhood. It is in need of work...</p>
                                        </div>
                                        <div class="property-summary">
                                            <div class="property-detail">
                                                <div class="area"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/size-icon_ccd251439ef2512942b64d525ced79fe.png);"></span><span class="property-meta">1913 sqft</span></div>
                                                <div class="bedrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bedroom-icon_92be012355310366e0bf07c8a41e35fe.png);"></span><span class="property-meta">4</span></div>
                                                <div class="bathrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bathroom-icon_ffc5ba8874014ad0a7fcc5aa3b8acd57.png);"></span><span class="property-meta">2</span></div>
                                            </div> <div class="property-info style-1">
                                                <div class="property-price">
                                                    <span> <span class="amount">&#36;154,500</span> </span>
                                                </div>
                                                <div class="property-sharing sharing612a03b8b245e">
                                                    <div class="property-share hidden-print clearfix">
                                                        <a href="#share" data-toggle="tooltip" data-placement="bottom" data-trigger="hover" class="fa fa-facebook" title="Share on Facebook" onclick="window.open('http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Fvisalia-ca-93277%2F&amp;t=Visalia%2C+NJ+93277','popupFacebook','width=650,height=270,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-twitter" title="Share on Twitter" onclick="window.open('https://twitter.com/intent/tweet?text=Visalia%2C+NJ+93277&amp;url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Fvisalia-ca-93277%2F','popupTwitter','width=500,height=370,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-google-plus" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Fvisalia-ca-93277%2F','popupGooglePlus','width=650,height=226,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-pinterest" title="Share on Pinterest" onclick="window.open('http://pinterest.com/pin/create/button/?url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Fvisalia-ca-93277%2F&amp;media=http://wp.nootheme.com/citilights/wp-content/uploads/2014/09/deluxe-interior-design-370x300.jpg&amp;description=Visalia%2C+NJ+93277','popupPinterest','width=750,height=265,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                        <a href="#share" class="fa fa-linkedin" title="Share on LinkedIn" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=http%3A%2F%2Fwp.nootheme.com%2Fcitilights%2Fproperties%2Fvisalia-ca-93277%2F&amp;title=Visalia%2C+NJ+93277&amp;summary=This+4+bedroom+home+sits+on+an+oversized+lot+at+the+end+of+a+cul-de-sac+in+an+%3Cwbr+%2F%3Eestablished+neighborhood.+It+is+in+need+of+work+however+would+make+a+great+investment+property.+Desirable+school+district.+Home+is+being+sold+strictly+AS-IS.+No+FHA+or+VA+Offers+please.&amp;source=CitiLights','popupLinkedIn','width=610,height=480,resizable=0, toolbar=0, menubar=0, status=0, location=0, scrollbars=0'); return false;">
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="property-action">
                                                    <i title="Compare" data-user="0" data-id="6341" data-action="compare" data-thumbnail="http://wp.nootheme.com/citilights/wp-content/uploads/2014/09/deluxe-interior-design-180x130.jpg" data-div="submit-compare-612a03b8af365" class="property-action-button fa fa-plus compare-6341" aria-hidden="true"></i>
                                                    <i title="Add to favorites" data-user="0" data-id="6341" data-action="favorites" data-status="add_favorites" data-url="http://wp.nootheme.com/citilights/my-favorites/" class="property-action-button fa fa-heart-o" aria-hidden="true"></i>
                                                    <i title="Share" data-user="0" data-id="6341" data-action="sharing" data-class="sharing612a03b8b245e" class="property-action-button fa fa-share-alt" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                            <div class="property-info property-fullwidth-info">
                                                <div class="property-price">
                                                    <span> <span class="amount">&#36;154,500</span> </span>
                                                </div>
                                                <div class="area"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/size-icon_ccd251439ef2512942b64d525ced79fe.png);"></span><span class="property-meta">1913 sqft</span></div>
                                                <div class="bedrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bedroom-icon_92be012355310366e0bf07c8a41e35fe.png);"></span><span class="property-meta">4</span></div>
                                                <div class="bathrooms"><span class="property-meta-icon" style="background-image: url(http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/bathroom-icon_ffc5ba8874014ad0a7fcc5aa3b8acd57.png);"></span><span class="property-meta">2</span></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="property-action property-fullwidth-action">
                                        <a href="http://wp.nootheme.com/citilights/properties/visalia-ca-93277/">More Details</a>
                                    </div>
                                </article>
                            </div> <div class="loadmore-action loadmore-612a03b8b290e">
                                <div class="noo-loader loadmore-loading">
                                    <div class="rect1"></div>
                                    <div class="rect2"></div>
                                    <div class="rect3"></div>
                                    <div class="rect4"></div>
                                    <div class="rect5"></div>
                                </div>
                                <button type="button" data-class-wrap="loadmore-612a03b8b290e" data-current-page="2" class="btn btn-default btn-block btn-loadmore">Load More</button>
                            </div>
                            <div class="pagination list-center">
                                <span aria-current="page" class="page-numbers current">1</span>
                                <a class="page-numbers" href="http://wp.nootheme.com/citilights/agents/stacy-barron/page/2/">2</a>
                                <a class="next page-numbers" href="http://wp.nootheme.com/citilights/agents/stacy-barron/page/2/"><i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class=" noo-sidebar col-md-4 hidden-print">
                <div class="noo-sidebar-wrapper">
                    <div id="noo_property_advanced_search-5" class="widget smk_sidebar_2131 widget_noo_property_advanced_search">
                        <h3 class="widget-title">Find Property</h3> <div class="noo-map no-map search-vertical">
                            <div class="gsearch property">
                                <div class="container-boxed">
                                    <div class="gsearch-wrap">
                                        <form action="http://wp.nootheme.com/citilights/search-property-result/" class="gsearchform" method="get" role="search">
                                            <div class="gsearch-content">
                                                <div class="gsearch-field">
                                                    <div class="form-group s-prop-location" style=width:25%>
                                                        <select data-placeholder="All Location" name='location' id='location' class='form-control form-control-chosen ignore-valid'>
                                                            <option value='' selected='selected'>All Location</option>
                                                            <option class="level-0" value="chicago">Chicago</option>
                                                            <option class="level-0" value="london">London</option>
                                                            <option class="level-0" value="los-angeles">Los Angeles</option>
                                                            <option class="level-0" value="california">New Jersey</option>
                                                            <option class="level-0" value="new-york-3">New York</option>
                                                            <option class="level-0" value="paris">Paris</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group s-prop-sub_location" style=width:25%>
                                                        <select data-placeholder="All Sub Location" name='sub_location' id='sub_location' class='form-control form-control-chosen ignore-valid'>
                                                            <option value='' selected='selected'>All Sub Location</option>
                                                            <option class="level-0" data-parent-location="new-york-3" value="brooklyn">Brooklyn</option>
                                                            <option class="level-0" data-parent-location="new-york-3" value="district-10">District 10</option>
                                                            <option class="level-0" data-parent-location="paris" value="district-11">District 11</option>
                                                            <option class="level-0" data-parent-location="london" value="district-2">District 2</option>
                                                            <option class="level-0" data-parent-location="los-angeles" value="district-3">District 3</option>
                                                            <option class="level-0" data-parent-location="california" value="district-4">District 4</option>
                                                            <option class="level-0" data-parent-location="new-york-3" value="district-5">District 5</option>
                                                            <option class="level-0" data-parent-location="paris" value="district-6">District 6</option>
                                                            <option class="level-0" data-parent-location="chicago" value="district-7">District 7</option>
                                                            <option class="level-0" data-parent-location="london" value="district-8">District 8</option>
                                                            <option class="level-0" data-parent-location="california" value="district-9">District 9</option>
                                                            <option class="level-0" value="manhattan">Manhattan</option>
                                                            <option class="level-1" data-parent-location="new-york-3" value="manhattanville">-- Manhattanville</option>
                                                            <option class="level-1" data-parent-location="new-york-3" value="upper-west-side">-- Upper West Side</option>
                                                            <option class="level-0" data-parent-location="new-york-3" value="queens">Queens</option>
                                                            <option class="level-0" data-parent-location="new-york-3" value="staten-island">Staten Island</option>
                                                            <option class="level-0" data-parent-location="new-york-3" value="the-bronx">the Bronx</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group s-prop-status" style=width:25%>
                                                        <select data-placeholder="All Status" name='status' id='status' class='form-control form-control-chosen ignore-valid'>
                                                            <option value='' selected='selected'>All Status</option>
                                                            <option class="level-0" value="open-house">Open house</option>
                                                            <option class="level-0" value="rents">Rent</option>
                                                            <option class="level-0" value="sales">Sale</option>
                                                            <option class="level-0" value="sold">Sold</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group s-prop-category" style=width:25%>
                                                        <select data-placeholder="All Type" name='category' id='category' class='form-control form-control-chosen ignore-valid'>
                                                            <option value='' selected='selected'>All Type</option>
                                                            <option class="level-0" value="apartment">Apartment</option>
                                                            <option class="level-0" value="coop">Co-op</option>
                                                            <option class="level-0" value="condo">Condo</option>
                                                            <option class="level-0" value="single-family-home">Single Family Home</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="noo-box-select">
                                                            <select id="search-bedrooms" class="form-control  form-control-chosen ignore-valid" name="bedrooms" data-placeholder="All Bedrooms">
                                                                <option value="0" selected="selected" class="">All Bedrooms</option>
                                                                <option value="1" class="1">1</option>
                                                                <option value="2" class="2">2</option>
                                                                <option value="3" class="3">3</option>
                                                                <option value="4" class="4">4</option>
                                                                <option value="5" class="5">5</option>
                                                            </select>
                                                        </div>
                                                    </div> <div class="form-group">
                                                        <div class="noo-box-select">
                                                            <select id="search-bathrooms" class="form-control  form-control-chosen ignore-valid" name="bathrooms" data-placeholder="All Bathrooms">
                                                                <option value="0" selected="selected" class="">All Bathrooms</option>
                                                                <option value="1" class="1">1</option>
                                                                <option value="2" class="2">2</option>
                                                                <option value="3" class="3">3</option>
                                                                <option value="4" class="4">4</option>
                                                            </select>
                                                        </div>
                                                    </div> <div class="form-group gprice">
                                                        <span class="gprice-label">Price</span>
                                                        <div class="gprice-slider-range"></div>
                                                        <input type="hidden" name="min_price" class="gprice_min" data-min="0" value="0">
                                                        <input type="hidden" name="max_price" class="gprice_max" data-max="11000000" value="11000000">
                                                    </div>
                                                    <div class="form-group garea">
                                                        <span class="garea-label">Area</span>
                                                        <div class="garea-slider-range"></div>
                                                        <input type="hidden" class="garea_min" name="min_area" data-min="1" value="1">
                                                        <input type="hidden" class="garea_max" name="max_area" data-max="3077" value="3077">
                                                    </div>
                                                </div>
                                                <div class="gsearch-action">
                                                    <div class="gsubmit ">
                                                        <button type="submit">Search</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="noo_property_featured-3" class="widget smk_sidebar_2131 widget_noo_property_featured">
                            <h3 class="widget-title">Recent Property</h3> <div class="property-featured">
                                <ul>
                                    <li>
                                        <div class="featured-image">
                                            <a href="http://wp.nootheme.com/citilights/properties/blandit-fringilla-tortor/"><img width="190" height="160" src="http://wp.nootheme.com/citilights/wp-content/uploads/2014/09/Beautiful-Houses-Week_42-Becherer-House-by-Robert-M.-Gurney-Architect_02-@@-GenCept-190x160.jpg" class="attachment-property-infobox size-property-infobox wp-post-image" alt="" loading="lazy" /></a>
                                        </div>
                                        <span class="featured-status">
                                            <a href="http://wp.nootheme.com/citilights/status/rents/">For Rent</a>
                                        </span>
                                        <h4><a href="http://wp.nootheme.com/citilights/properties/blandit-fringilla-tortor/">225 E 79th St #7C</a></h4>
                                    </li>
                                    <li>
                                        <div class="featured-image">
                                            <a href="http://wp.nootheme.com/citilights/properties/house-for-sale-on-military-road/"><img width="190" height="160" src="http://wp.nootheme.com/citilights/wp-content/uploads/2014/09/beautiful-new-concept-of-minimalist-home-exterior-190x160.jpg" class="attachment-property-infobox size-property-infobox wp-post-image" alt="" loading="lazy" /></a>
                                        </div>
                                        <span class="featured-status">
                                            <a href="http://wp.nootheme.com/citilights/status/sales/">For Sale</a>
                                        </span>
                                        <h4><a href="http://wp.nootheme.com/citilights/properties/house-for-sale-on-military-road/">House for sale on Military Road</a></h4>
                                    </li>
                                    <li>
                                        <div class="featured-image">
                                            <a href="http://wp.nootheme.com/citilights/properties/ava-high-line/"><img width="190" height="160" src="http://wp.nootheme.com/citilights/wp-content/uploads/2019/11/Modern-Sharp-Santa-Rosa-Interior-800x450_89ac5ebf1863ca805856951ee1d76724-190x160.jpg" class="attachment-property-infobox size-property-infobox wp-post-image" alt="" loading="lazy" /></a>
                                        </div>
                                        <span class="featured-status">
                                            <a href="http://wp.nootheme.com/citilights/status/rents/">For Rent</a>
                                        </span>
                                        <h4><a href="http://wp.nootheme.com/citilights/properties/ava-high-line/">AVA High Line</a></h4>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>