@using System.Runtime.InteropServices.ComTypes
@model IEnumerable<A2ZPortal.Core.Entities.Master.PropertyType>

<div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
    <div class="row">
        <div class="col-sm-12">
            <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                <thead>
                    <tr role="row">
                        <th>Property Type Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in Model)
                    {
                        <tr>

                            <td>@data.PropertyTypeName</td>
                            <td>
                                <button class="btn btn-primary btn-xs">
                                    <i class="fa fa-pencil" onclick="Edit(@data.Id)"></i>
                                </button>
                                <button class="btn btn-danger btn-xs" onclick="Delete(@data.Id)">
                                    <i class="fa fa-close"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#example1').DataTable();

    })
</script>